<section>
  <div
    class="container mx-auto mt-0 mb-20 grid animate-backInRight grid-cols-1 gap-6 px-4 md:grid-cols-3"
  >
    {% import 'macro/product-item-macro.html' as macro %}
    {{
      macro.renderProductItem(
        "fa fa-money",
        "General Loan",
        "Any Member can take loan for various purposes.",
        "/archives/loans/single/general/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Business Loan",
        "Business Loan provides financial assistance to Businesses.",
        "/archives/loans/single/business/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "SMB Loan",
        "Small & Medium Size business requires this Loan the most.",
        "/archives/loans/single/smd/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Car Loan",
        "Own the car of your dream with DC’s Car Loan.",
        "/archives/loans/single/car/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Metro H.Building",
        "Build a House with DC’s Metropolitan House Building Loan.",
        "/archives/loans/single/metro-house-building/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Flat Purchase",
        "Owning a dream flat DC’s Flat Purchase Loan.",
        "/archives/loans/single/flat-purchase/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "House Building Loan",
        "Own a High Rise Building with DC’s House Building Loan.",
        "/archives/loans/single/house-building/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Credit Ceiling Loan",
        "Business CC Loan is taken to overcome different financial crisis.",
        "/archives/loans/single/credit-ceiling/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Industrial Loan",
        "Industrial loan supports Current and Future Entrepreneurs.",
        "/archives/loans/single/industrial/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Capacity Based Loan",
        "This Loan is for financially solvent members of the Union.",
        "/archives/loans/single/capacity-based/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "General CC Loan",
        "This Loan is designed to improve the Members standard of living.",
        "/archives/loans/single/general-cc/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "For Going Abroad",
        "Provide Members with Financial support for going Abroad.",
        "/archives/loans/single/going-abroad/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Solvency For H.Edu",
        "Students can utilize this Loan for studying abroad.",
        "/archives/loans/single/solvency-higher-edu/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Top Up",
        "Extra Financial Boost on Top of other Loans.",
        "/archives/loans/single/top-up/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Bill Pay Loan",
        "This Loan will help members overcome Bill Expenses.",
        "/archives/loans/single/bill-pay/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Higher Education",
        "Provides Financial Support for Educational Purpose.",
        "/archives/loans/single/higher-education/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Higher.Edu Support",
        "This Loan Provides the Maximum Loan of BDT 15 Lac.",
        "/archives/loans/single/higher-edu-supp/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Prof. Training",
        "This Loan is taken to cover Professional Training Cost.",
        "/archives/loans/single/prof-training/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Consumer Loan",
        "This Loan helps improve members Standard of Living.",
        "/archives/loans/single/consumer/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "D.C Gym Loan",
        "Lead a Healthy Lifestyle with Dhaka Credit’s Gym Loan.",
        "/archives/loans/single/gym/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Loan Against LTSD",
        "Any member can take Loan against their LTSD.",
        "/archives/loans/single/against-ltsd/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Open Installment",
        "Depositors can take Loan against their LTSD.",
        "/archives/loans/single/open-installment/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Own Share Loan",
        "The Members can take against their own share.",
        "/archives/loans/single/own-share/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Secured Over Draft",
        "A Savings Depositor can make Loan against Long Term Savings.",
        "/archives/loans/single/secured-over-draft/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "D.C Flat Purchase Loan",
        "Own a D.C built Flat with D.C Flat Purchase Loan.",
        "/archives/loans/single/dc-flat-pur/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Emergency Loan",
        "Emergency Loan is for Urgent treatment that may arise.",
        "/archives/loans/single/emergency/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Competency Based Loan",
        "Based on the Financial Condition & ability to repay.",
        "/archives/loans/single/competency-based/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Instant Loan",
        "Instant loan to meet the urgent financial needs.",
        "/archives/loans/single/instant/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Entrepreneur Loan",
        "This loan is for financial needs of businessmen.",
        "/archives/loans/single/entrepreneur/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Double Loan on FDR",
        "Double Loan against the member’s Fixed Deposit",
        "/archives/loans/single/double-on-fdr/"
      )
    }}

    {{
      macro.renderProductItem(
        "fa fa-money",
        "Various Other Loans",
        "Rest of the Loan Facilities are mentioned here",
        "/archives/loans/single/various-other/"
      )
    }}
  </div>
</section>
