<div class="h-full w-full p-4">
  {% include 'partials/dashboard/info/me/content_header.html' %}

  <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 xl:grid-cols-3">
    {% include 'partials/dashboard/info/me/personal_information_section.html' %}
    {% include 'partials/dashboard/info/me/family_and_relative_section.html' %}
    {% include 'partials/dashboard/info/me/training_and_education_section.html'
    %} {% include 'partials/dashboard/info/me/attachment_section.html' %} {%
    include 'partials/dashboard/info/me/work_information_section.html' %}
  </div>
</div>
