{% macro renderShowPassword(inputFor="", label="", a="" )%}
<div class="">
  <input
    class="peer w-full rounded bg-surface transition-colors focus:border-primary"
    id="password"
    x-bind:type="showpassword ? 'text' : 'password'  "
    x-model="hasValue"
  />
  <label
    :class="hasValue.length>0 ? '-top-2 text-xs text-primary' : ''"
    class="absolute left-0 top-3 mx-3 cursor-text bg-surface px-1 text-sm transition-all duration-200 peer-focus:-top-2 peer-focus:text-xs peer-focus:text-primary"
    for="password"
  >
    Password
  </label>
</div>

<div class="mb-6 mt-2 flex items-center justify-between">
  <div class="form-group form-check">
    <input
      type="checkbox"
      class="form-check-inputfloat-left mt-1 mr-2 h-4 w-4 cursor-pointer appearance-none rounded-sm border bg-contain bg-center bg-no-repeat align-top transition duration-200 checked:border-primary checked:bg-primary focus:outline-none"
      id="{{inputFor}}"
      x-modal="showpassword"
      @change="showpassword = !showpassword"
    />
    <label class="form-check-label inline-block" for="{{inputFor}}"
      >{{label}}</label
    >
  </div>

  <a
    href="#!"
    class="text-primary transition duration-200 ease-in-out hover:text-primary focus:text-primary active:text-primary"
  >
    {{a}}
  </a>
</div>
{% endmacro %}
