---
layout: "layouts/public_layout.njk"
---
{% import 'shared/components/banner-macro.html' as macro %} 
{{
macro.renderBanner("Home","Farm Vill Credit Union Ltd.",'Employment
Creation is Our Goal; Self-Reliant Community is Our Dream.') 
}}
{% include 'partials/public/index/what-do.html' %}
{% include 'partials/public/index/founder.html' %}
{% include 'partials/public/index/notices.html' %}