---
layout: "layouts/public_layout.njk"
---

{% import 'shared/components/Banner.html' as macro %} {{ macro.renderBanner("Career","Circular Details",'Dhaka Credit is the first & largest Credit Union of its kind currently in Bangladesh.') }}

{% include 'partials/public/career/circulars/circular-details-content.html' %}