<footer class="mt-auto bg-surface text-center text-onSurface">
  <div
    class="container mx-auto flex flex-col items-center justify-center p-3 py-10"
  >
    <a href="#" class="mb-4 flex flex-col items-center justify-center">
      <img
        class="h-16"
        src="/assets/images/logo/logocccul.png"
        alt="header logo"
      />
      <h6 class="block text-2xl font-semibold">Dhaka Credit</h6>
      <p class="text-xl">The Christian Co-operative Credit Union Ltd.</p>
      <p class="text-sm">
        Rev. Fr. Charles J. Young Bhaban, 173/1/A, East Tejturi Bazar, Tejgaon,
        Dhaka-1215.
      </p>
    </a>
    <div class="mb-5">
      <ul class="flex gap-2">
        <li
          class="h-8 w-8 rounded-full bg-surface shadow-lg hover:scale-125 hover:text-error"
        >
          <a
            class="h-full w-full"
            href="https://www.facebook.com/dhakacredit/"
            target="_blank"
          >
            <i
              class="fa fa-facebook mt-2 h-full w-full text-center leading-3"
            ></i>
          </a>
        </li>
        <li
          class="h-8 w-8 rounded-full bg-surface shadow-lg hover:scale-125 hover:text-error"
        >
          <a
            class="h-full w-full text-center"
            href="tel:+8809678771270"
            data-url="tel:+8809678771270"
            target="_blank"
          >
            <i class="fa fa-phone mt-2 h-full w-full text-center leading-3"></i>
          </a>
        </li>
        <li
          class="h-8 w-8 rounded-full bg-surface shadow-lg hover:scale-125 hover:text-error"
        >
          <a
            class="h-full w-full text-center"
            href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcRwQnhBvKlZwLvjSMPCRWgqgwZCBbBjmFbHpBXzdcqGNkGKGHxzqrkGWZxwgfKGDxGlRHbKj"
            target="_blank"
          >
            <i
              class="fa fa-envelope mt-2 h-full w-full text-center leading-3"
            ></i>
          </a>
        </li>
      </ul>
    </div>

    <p class="text-sm">
      © 2022 The Christian Co-operative Credit Union Ltd. All Rights Reserved.
    </p>
    <p class="text-sm">Powered by Dhaka Credit ICT Squad.</p>
  </div>
</footer>
