<div
  class="w-full animate-slideInRight overflow-hidden rounded-md bg-surface shadow-sm md:w-3/12"
>
  <h2
    class="bg-primary p-6 font-semibold uppercase text-onPrimary hover:text-green-200"
  >
    <a href="/pages/about/">About Us</a>
  </h2>
  <ul class="flex w-full flex-col divide-y p-6 text-onSurface">
    <li
      class="group flex overflow-hidden rounded-sm p-2 hover:bg-backgroundVariant hover:shadow-sm"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="hidden h-5 w-5 group-hover:block group-hover:text-onSurface"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"
        />
      </svg>
      <a href="/pages/founders-profile/" class=""> Founder's Profile</a>
    </li>
    <li
      class="group flex overflow-hidden rounded-sm p-2 hover:bg-backgroundVariant hover:shadow-sm"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="hidden h-5 w-5 group-hover:block group-hover:text-onSurface"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"
        />
      </svg>
      <a href="/pages/our-story/" class="">Our Story</a>
    </li>
    <li
      class="group flex overflow-hidden rounded-sm p-2 hover:bg-backgroundVariant hover:shadow-sm"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="hidden h-5 w-5 group-hover:block group-hover:text-onSurface"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"
        />
      </svg>
      <a href="/pages/mission-vision/" class="h-full w-full"
        >Mission & Vision</a
      >
    </li>
    <li
      class="group flex overflow-hidden rounded-sm p-2 hover:bg-backgroundVariant hover:shadow-sm"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="hidden h-5 w-5 group-hover:block group-hover:text-onSurface"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"
        />
      </svg>
      <a href="/pages/core-values/" class="">Core Values</a>
    </li>
    <li
      class="group flex overflow-hidden rounded-sm p-2 hover:bg-backgroundVariant hover:shadow-sm"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="hidden h-5 w-5 group-hover:block group-hover:text-onSurface"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"
        />
      </svg>
      <a href="/pages/presedent-message/" class="">President's Message</a>
    </li>
    <li
      class="group flex overflow-hidden rounded-sm p-2 hover:bg-backgroundVariant hover:shadow-sm"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="hidden h-5 w-5 group-hover:block group-hover:text-onSurface"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"
        />
      </svg>
      <a href="/pages/cu-movement/" class="">C.U Movement</a>
    </li>
    <li
      class="group flex overflow-hidden rounded-sm p-2 hover:bg-backgroundVariant hover:shadow-sm"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="hidden h-5 w-5 group-hover:block group-hover:text-onSurface"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"
        />
      </svg>
      <a href="/pages/achivements/" class="">Achivements</a>
    </li>
    <li
      class="group flex overflow-hidden rounded-sm p-2 hover:bg-backgroundVariant hover:shadow-sm"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="hidden h-5 w-5 group-hover:block group-hover:text-onSurface"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"
        />
      </svg>
      <a href="/pages/women-activity/" class="">Women Activity</a>
    </li>
    <li
      class="group flex overflow-hidden rounded-sm p-2 hover:bg-backgroundVariant hover:shadow-sm"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="hidden h-5 w-5 group-hover:block group-hover:text-onSurface"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5"
        />
      </svg>
      <a href="/pages/agm-reports/" class="">AGM Reports</a>
    </li>
  </ul>
</div>
