<div
  class="content w-full bg-surface p-8 text-left text-onBackground shadow-sm md:w-9/12 md:p-14 md:text-justify lg:p-20 lg:text-justify"
>
  <div class="animate-slideInUp">
    <h2 class="p-1 text-2xl font-semibold">AGM Reports</h2>

    <ul class="mt-5 grid grid-cols-1 gap-6 md:grid-cols-2">
      <li
        class="group group flex items-center rounded-md border p-3 hover:cursor-pointer hover:shadow-md"
      >
        <i
          class="fa fa-file-pdf-o fa-3x group-hover:text-red-500"
          aria-hidden="true"
        ></i>
        <div class="flex-grow pl-4">
          <h2 class="font-medium">62th AGM Report</h2>
          <p class="text-xs">Fiscal Year - 2020-21</p>
          <p class="text-xs">Part 1</p>
        </div>
      </li>
      <li
        class="group flex items-center rounded-md border p-3 hover:cursor-pointer hover:shadow-md"
      >
        <i
          class="fa fa-file-pdf-o fa-3x group-hover:text-red-500"
          aria-hidden="true"
        ></i>
        <div class="flex-grow pl-4">
          <h2 class="font-medium">62th AGM Report</h2>
          <p class="text-xs">Fiscal Year - 2020-21</p>
          <p class="text-xs">Part 2</p>
        </div>
      </li>
      <li
        class="group flex items-center rounded-md border p-3 hover:cursor-pointer hover:shadow-md"
      >
        <i
          class="fa fa-file-pdf-o fa-3x group-hover:text-red-500"
          aria-hidden="true"
        ></i>
        <div class="flex-grow pl-4">
          <h2 class="font-medium">61th AGM Report</h2>
          <p class="text-xs">Fiscal Year - 2019-20</p>
          <p class="text-xs">Part 1</p>
        </div>
      </li>
      <li
        class="group flex items-center rounded-md border p-3 hover:cursor-pointer hover:shadow-md"
      >
        <i
          class="fa fa-file-pdf-o fa-3x group-hover:text-red-500"
          aria-hidden="true"
        ></i>
        <div class="flex-grow pl-4">
          <h2 class="font-medium">62th AGM Report</h2>
          <p class="text-xs">Fiscal Year - 2019-20</p>
          <p class="text-xs">Part 2</p>
        </div>
      </li>
    </ul>
  </div>
</div>
