<div
  class="content w-full bg-surface p-8 text-left text-onBackground shadow-sm md:w-9/12 md:p-14 md:text-justify lg:p-20 lg:text-justify"
>
  <div class="animate-slideInUp text-onBackground">
    <h4 class="text-2xl font-semibold">DHAKA CREDIT’S WOMEN COMMITTEE</h4>
    <p class="my-4">
      The Women Committee of Dhaka Credit has played a significant role in
      promoting the progress of Dhaka Credit. Besides this, the committee has
      organizined various programs such as reception of students, Pre-Christmas
      celebrations with Mothers and Children, Bee & Smart Savers program,
      International Women’s Day celebration, etc for the Empowerment of Women.
      The Women Committee consists of nearly 360 Members.
    </p>
    <h4 class="my-5 text-2xl">Reasons of forming Women Committee:</h4>
    <ul class="flex list-disc flex-col">
      <li class="flex items-center">
        <svg
          class="mr-1.5 h-4 w-4 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path></svg
        >Women Empowerment.
      </li>
      <li class="flex items-center">
        <svg
          class="mr-1.5 h-4 w-4 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path></svg
        >Encouraging The Child & Women.
      </li>
      <li class="flex items-center">
        <svg
          class="mr-1.5 h-4 w-4 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path></svg
        >Small Entrepreneurship.
      </li>
      <li class="flex items-center">
        <svg
          class="mr-1.5 h-4 w-4 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path></svg
        >Reward The Women.
      </li>
      <li class="flex items-center">
        <svg
          class="mr-1.5 h-4 w-4 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path></svg
        >Relation Building.
      </li>
      <li class="flex items-center">
        <svg
          class="mr-1.5 h-4 w-4 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path></svg
        >Observe National & International Days .
      </li>
      <li class="flex items-center">
        <svg
          class="mr-1.5 h-4 w-4 flex-shrink-0"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          ></path></svg
        >Social Activities.
      </li>
    </ul>
  </div>
</div>
