<div
  class="content w-full bg-surface p-8 text-left text-onBackground shadow-sm md:w-9/12 md:p-14 md:text-justify lg:p-20 lg:text-justify"
>
  <div class="flex items-center justify-center">
    <div
      class="relative m-auto h-56 w-96 transform rounded-xl bg-[url('/assets/images/hero/Capture.jpg')] bg-cover text-orange-200 shadow-2xl transition-transform hover:scale-110"
    >
      <div class="absolute top-4 w-full px-8">
        <div class="flex justify-between">
          <img class="h-14 w-14" src="/assets/images/golden_logo.png" />
          <p class="font-bold uppercase">Dhaka Credit</p>
        </div>

        <div class="pt-1 text-center">
          <p class="text-sm font-light uppercase">Virtual Debit Card</p>
          <p class="font-medium">4642348998677632</p>
          <p class="font-medium">06/25</p>
        </div>
        <div class="pt-6 pr-6">
          <div class="flex justify-between">
            <div class="">
              <p class="text-xs font-semibold uppercase">Driste Maria Palma</p>
            </div>
            <div class="">
              <p class="text-xs font-light">Savings Account</p>
              <p class="text-sm font-bold">T-00354343</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
