<div
  class="content w-full bg-surface p-8 text-left text-onBackground shadow-sm md:w-9/12 md:p-14 md:text-justify lg:p-20 lg:text-justify"
>
  <div class="">
    <ul class="mb-2 flex flex-wrap">
      <li class="w-full p-2 sm:w-1/2 md:w-full lg:w-1/2">
        <div
          class="flex h-full items-center rounded bg-success p-4 text-onSuccess hover:animate-twPulse hover:shadow-sm"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
            />
          </svg>

          <ul class="ml-4">
            <li class="title-font font-medium">Diba Martha Palma</li>
            <li class="text-sm font-normal">Sister</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="flex flex-wrap">
    <div class="w-full p-2 sm:w-1/2 md:w-full lg:w-1/2">
      <form class="flex items-center">
        <label for="voice-search" class="sr-only">Search</label>
        <div class="relative w-full">
          <input
            type="text"
            id="voice-search"
            class="block w-full rounded-lg border bg-gray-50 p-2.5 pl-10 text-sm focus:border-green-500 focus:ring-green-500"
            placeholder="Account Number"
            required
          />
        </div>
        <button
          type="submit"
          class="ml-2 inline-flex items-center rounded-lg bg-success py-2.5 px-3 text-sm font-medium focus:outline-none focus:ring-4"
        >
          <svg
            aria-hidden="true"
            class="mr-2 -ml-1 h-5 w-5"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            ></path>
          </svg>
        </button>
      </form>
    </div>
  </div>
  <div class="flex flex-wrap">
    <div class="w-full p-1 sm:w-1/2 md:w-full lg:w-1/2">
      <div
        class="flex h-full items-center rounded bg-success p-4 text-onSuccess hover:animate-twPulse hover:shadow-sm"
      >
        <p class="font-bold">Account Holder name</p>
      </div>
    </div>
  </div>
</div>
