<!-- :style="handleToggle()" -->
<div
  class="content w-full bg-surface p-8 text-left text-onBackground shadow-sm md:w-9/12 md:text-justify lg:p-20 lg:text-justify"
>
  <div class="animate-slideInUp">
    <div class="">
      <ul class="mb-2 flex flex-wrap">
        <li
          class="w-full p-2 sm:w-1/2 md:w-full lg:w-1/2"
          x-data="{open: false }"
        >
          <div
            @click=" open = !open"
            x-model="open"
            class="flex items-center rounded bg-success p-4 text-onSuccess hover:shadow-sm"
          >
            <svg
              class="mr-1.5 h-6 w-6 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span>Driste Maria Palma</span>
          </div>
          <div class="overflow-hidden">
            <ul
              class="ease overflow-hidden text-justify transition-all duration-1000"
              :class="open ?  'max-h-[1000px]' : 'max-h-0' "
            >
              <li class="flex items-center bg-backgroundVariant p-2">
                <div class="w-3/5 font-bold">Mobile Number  </div>
               <div class="2/5">01628217234 </div>
              </li>
              <li class="flex items-center hover:bg-backgroundVariant p-2">
               <div class="w-3/5 font-bold">Account Number  </div>
               <div class="2/5">0051357 </div>
              </li>
              <li class="flex items-center bg-backgroundVariant p-2">
               <div class="w-3/5 font-bold">Loan Number  </div>
               <div class="2/5">01628217234 </div>
              </li>
              <li class="flex items-center hover:bg-backgroundVariant p-2">
               <div class="w-3/5 font-bold">Loan Amount  </div>
               <div class="2/5">01628217234 </div>
              </li>
              <li class="flex items-center bg-backgroundVariant p-2">
               <div class="w-3/5 font-bold">Valid Till  </div>
               <div class="2/5">01628217234 </div>
              </li>
              <li class="flex items-center hover:bg-backgroundVariant p-2">
               <div class="w-3/5 font-bold">Surety Amount </div>
               <div class="2/5">01628217234 </div>
              </li>
              <li class="flex items-center bg-backgroundVariant p-2">
               <div class="w-3/5 font-bold">Installment  </div>
               <div class="2/5">01628217234 </div>
              </li>
              <li class="flex items-center hover:bg-backgroundVariant p-2">
               <div class="w-3/5 font-bold">Last Paid : </div>
               <div class="2/5">01628217234 </div>
              </li>
              <li class="flex items-center bg-backgroundVariant p-2">
               <div class="w-3/5 font-bold">Surety Status : </div>
               <div class="2/5">01628217234</p>
              </li>
            </ul>
          </div>
        </li>
        <li
          class="w-full p-2 sm:w-1/2 md:w-full lg:w-1/2"
          x-data="{open: false }"
        >
          <div
            @click=" open = !open"
            x-model="open"
            class="flex items-center rounded bg-success p-4 text-onSuccess hover:shadow-sm"
          >
            <svg
              class="mr-1.5 h-6 w-6 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span>Driste Maria Palma</span>
          </div>
          <div class="overflow-hidden">
            <ul
              class="ease overflow-hidden text-justify transition-all duration-1000"
              :class="open ?  'max-h-[1000px]' : 'max-h-0' "
            >
              <li class="flex items-center hover:bg-backgroundVariant p-2">
                <div class="w-3/5 font-bold">Mobile Number  </div>
                <div class="2/5">01628217234</div>
              </li>

              <li class="flex items-center hover:bg-backgroundVariant p-2">
                      <div class="w-3/5 font-bold">Account Number  </div>
               <div class="2/5">0051357 </div>
              </li>
              <li class="flex items-center bg-backgroundVariant p-2">
                      <div class="w-3/5 font-bold">Loan Number  </div>
               <div class="2/5">01628217234 </div>
              </li>
              <li class="flex items-center hover:bg-backgroundVariant p-2">
                      <div class="w-3/5 font-bold">Loan Amount  </div>
               <div class="2/5">01628217234 </div>
              </li>
              <li class="flex items-center bg-backgroundVariant p-2">
                      <div class="w-3/5 font-bold">Valid Till  </div>
               <div class="2/5">01628217234 </div>
              </li>
              <li class="flex items-center hover:bg-backgroundVariant p-2">
                      <div class="w-3/5 font-bold">Surety Amount </div>
               <div class="2/5">01628217234 </div>
              </li>
              <li class="flex items-center bg-backgroundVariant p-2">
                      <div class="w-3/5 font-bold">Installment  </div>
               <div class="2/5">01628217234 </div>
              </li>
              <li class="flex items-center hover:bg-backgroundVariant p-2">
                      <div class="w-3/5 font-bold">Last Paid  </div>
               <div class="2/5">01628217234 </div>
              </li>
              <li class="flex items-center bg-backgroundVariant p-2">
                      <div class="w-3/5 font-bold">Surety Status  </div>
               <div class="2/5">01628217234</div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
