<main class="h-[700px] space-y-6 overflow-auto p-2 sm:p-10">
  <section class="grid gap-6 text-onSurface md:grid-cols-2 xl:grid-cols-3">
    <div class="flex items-center rounded bg-surface p-8 shadow">
      <div>
        <span class="block text-2xl font-bold">Online Transaction</span>
        <span class="block">Dashboard</span>
      </div>
    </div>
    <div class="flex items-center rounded bg-surface p-8 shadow">
      <div>
        <span class="block text-2xl font-bold">Online Transaction</span>
        <span class="block">Dashboard</span>
      </div>
    </div>
    <div class="flex items-center rounded bg-surface p-8 shadow">
      <div>
        <span class="block text-2xl font-bold">Online Transaction</span>
        <span class="block">Dashboard</span>
      </div>
    </div>
  </section>
</main>
