<main class="p-4">
  {% include 'partials/info/me/content_header.html' %}
  <section
    class="grid gap-4 text-onSurface md:grid-cols-2 lg:gap-6 xl:grid-cols-3"
  >
    <div
      class="flex select-none items-center justify-start rounded-md bg-surface px-4 py-4 shadow-sm transition-all duration-300 hover:cursor-pointer hover:shadow-md lg:justify-center lg:py-8"
    >
      <span class="text-sm lg:text-2xl">Savings Account</span>
    </div>
    <div
      class="flex select-none items-center justify-start rounded-md bg-surface px-4 py-4 shadow-sm transition-all duration-300 hover:cursor-pointer hover:shadow-md lg:justify-center lg:py-8"
    >
      <span class="text-sm lg:text-2xl">Share Account</span>
    </div>
    <div
      class="flex select-none items-center justify-start rounded-md bg-surface px-4 py-4 shadow-sm transition-all duration-300 hover:cursor-pointer hover:shadow-md lg:justify-center lg:py-8"
    >
      <span class="text-sm lg:text-2xl">Housing Deposit Scheme</span>
    </div>
  </section>
</main>
