<section>
  <div
    class="container mx-auto mb-20 animate-backInRight grid grid-cols-1 gap-6 px-4 md:grid-cols-3"
  >
  {% import 'shared/components/product-item-macro.html' as macro %} 
{{
macro.renderProductItem("fa fa-usd", "Saving", "Savings Account is Mandatory for all other Products in Dhaka Credit.", "/archives/deposits/single/savings/") 
}}

{{
macro.renderProductItem("fa fa-usd", "Credit Account", "This account is for Self-Reliant Members of the Union.", "/archives/deposits/single/credit/") 
}}

{{
macro.renderProductItem("fa fa-usd", "STD Account", "SThis account provides interest to the depositors twice a year.", "/archives/deposits/single/std/") 
}}

{{
macro.renderProductItem("fa fa-usd", "Bee-Savers", "Children from 1 day to 12-year-old can become a “Bee Savers”.", "/archives/deposits/single/bee-savers/") 
}}
  
{{
macro.renderProductItem("fa fa-usd", "Smart Savers", "This account promotes savings habit among teenagers.", "/archives/deposits/single/smart-savers/") 
}}

{{
macro.renderProductItem("fa fa-usd", "Education Savings", "Helps member meet the Educational Expenses.", "/archives/deposits/single/education-savings/") 
}}

{{
macro.renderProductItem("fa fa-usd", "LTSD Account", "LTSD helps depositors earn high interest rate for a Fixed Rate.", "/archives/deposits/single/ltsd/") 
}}

{{
macro.renderProductItem("fa fa-usd", "Monthly Savings", "Monthly savings prepares for any future requirements.", "/archives/deposits/single/monthly-savings/") 
}}

{{
macro.renderProductItem("fa fa-usd", "Festival Savings", "Enjoy the festive season without worrying about the expenses.", "/archives/deposits/single/fastival-savings/") 
}}

{{
macro.renderProductItem("fa fa-usd", "Troimashik Savings", "This accounts provides quarterly interest with min deposit of 1 Lac.", "/archives/deposits/single/troimashik-savings/") 
}}

{{
macro.renderProductItem("fa fa-usd", "Aged Savings", "This Savings scheme ensures financial security after retirement.", "/archives/deposits/single/aged-savings/") 
}}

{{
macro.renderProductItem("fa fa-usd", "Double Deposit", "Provides double benefits for the depositors with certain period.", "/archives/deposits/single/double-deposit/") 
}}

{{
macro.renderProductItem("fa fa-usd", "Millionaire Deposit", "Become a Millionaire within a certain period with this scheme.", "/archives/deposits/single/millionaire-deposit/") 
}}

{{
macro.renderProductItem("fa fa-usd", "Housing Deposit", "This scheme can make your dream of owning a House come true.", "/archives/deposits/single/housing-deposit/") 
}}

{{
macro.renderProductItem("fa fa-usd", "Marriage Deposit", "Perfect for dealing with Marriage Cost for young couple & Parents.", "/archives/deposits/single/marriage-deposit/") 
}}

{{
macro.renderProductItem("fa fa-usd", "KotiPoti Deposit", "Premium Deposit Scheme for Members to become KotiPoti.", "/archives/deposits/single/kotipoti-deposit/") 
}}

{{
macro.renderProductItem("fa fa-usd", "Hospital Bond", "Become a part of Divine Mercy General Hospital Bond.", "/archives/deposits/single/hospital-bond/") 
}}

{{
macro.renderProductItem("fa fa-usd", "D.C. H.C.S", "Dhaka Credit Health Care Scheme is for everyone.", "/archives/deposits/single/health-care/") 
}}

{{
macro.renderProductItem("fa fa-usd", "Pension Benefit", "Pension Benefit Scheme for future retirement.", "/archives/deposits/single/pension-benefit/") 
}}

  </div>
</section>
