<header
  class="flex h-full w-full items-center justify-between bg-surface px-6 text-onSurface"
>
  <div class="flex cursor-pointer items-center gap-2">
    <button
      class="flex h-6 w-6 items-center justify-center rounded-full bg-primary p-5 text-onPrimary transition-all duration-300 focus:bg-primary focus:text-onPrimary hover:scale-110"
      @click="sidebarOpen = !sidebarOpen"
    >
      <i class="fa-solid fa-bars fa-lg"></i>
    </button>

    <a
      href="/"
      class="flex h-6 w-6 items-center justify-center rounded-full bg-primary p-5 text-onPrimary transition-all duration-300 focus:bg-primary focus:text-onPrimary hover:scale-110"
    >
      <i class="fa-solid fa-retweet fa-lg"></i>

      <span class="sr-only">Switch To Front</span>
    </a>
  </div>

  <div class="flex h-full flex-shrink-0 items-center">
    <div
      class="relative flex h-full items-center"
      x-data="{notificationMenuOpen:false}"
    >
      <button
        class="relative flex h-6 w-6 items-center justify-center rounded-full bg-primary p-5 text-onPrimary transition-all duration-300 focus:bg-primary focus:text-onPrimary hover:scale-110"
        @click="notificationMenuOpen = !notificationMenuOpen"
      >
        <span class="sr-only">Notifications</span>
        <span
          class="absolute top-0 right-0 h-4 w-4 rounded-full bg-red-500 text-xs"
          >25</span
        >
        <i class="fa-solid fa-bell fa-lg"></i>
      </button>
      <ul
        class="absolute top-20 right-0 z-10 flex w-72 flex-col overflow-hidden rounded bg-surface text-onSurface hover:cursor-pointer"
        x-show="notificationMenuOpen"
      >
        <li class="px-4 py-2 hover:bg-primary hover:text-onPrimary">List</li>
        <li class="px-4 py-2 hover:bg-primary hover:text-onPrimary">List</li>
        <li class="px-4 py-2 hover:bg-primary hover:text-onPrimary">List</li>
        <li class="px-4 py-2 hover:bg-primary hover:text-onPrimary">List</li>
        <li class="px-4 py-2 hover:bg-primary hover:text-onPrimary">List</li>
      </ul>
    </div>

    <div class="relative h-full" x-data="{userMenuOpen:false}">
      <button
        class="flex h-full items-center"
        @click="userMenuOpen = !userMenuOpen"
      >
        <span class="mx-2 flex h-full items-center">
          <img
            src="/assets/images/logo/logo_dark.png"
            alt="user profile photo"
            class="h-9 w-9 rounded-full"
          />
        </span>
        <div class="hidden md:flex md:flex-col md:items-end md:leading-tight">
          <span> <span class="">John Doe</span></span>
        </div>
      </button>
      <ul
        class="absolute top-20 right-0 z-10 flex w-72 flex-col overflow-hidden rounded bg-surface text-onSurface hover:cursor-pointer"
        x-show="userMenuOpen"
      >
        <li class="px-4 py-2 hover:bg-primary hover:text-onPrimary">
          View Profile
        </li>
        <li class="px-4 py-2 hover:bg-primary hover:text-onPrimary">
          User Settings
        </li>
      </ul>
    </div>

    <div class="ml-3 space-x-1 pl-3">
      <button
        class="flex h-6 w-6 items-center justify-center rounded-full bg-primary p-5 text-onPrimary transition-all duration-300 focus:bg-primary focus:text-onPrimary hover:scale-110"
      >
        <span class="sr-only">Log out</span>
        <i class="fa-solid fa-right-from-bracket fa-lg"></i>
      </button>
    </div>
  </div>
</header>
