<div
  class="container mx-auto mb-20 px-6 text-left md:text-justify lg:text-justify"
>
  <div class="">
    <div class="relative h-[100%] w-[100%]">
      <div
        class="absolute left-1/2 -mt-[100px] -ml-[100px] h-[200px] w-[200px] -rotate-[135deg] transform"
      >
        <div class="">
          <div
            class="absolute top-[15px] left-[15px] h-[110px] w-[110px] animate-twSpin rounded-[50%] border-[5px] border-solid border-primary border-t-transparent animate-ease animate-infinite animate-delay-[0.6s]"
          ></div>
          <div
            class="absolute left-[25px] top-[25px] h-[90px] w-[90px] animate-twSpin rounded-[50%] border-[5px] border-solid border-primary border-t-transparent animate-ease animate-infinite animate-delay-[0.4s]"
          ></div>
          <div
            class="absolute left-[35px] top-[35px] h-[70px] w-[70px] animate-twSpin rounded-[50%] border-[5px] border-solid border-primary border-t-transparent animate-ease animate-infinite animate-delay-[0.2s]"
          ></div>
          <div
            class="absolute left-[45px] top-[45px] h-[50px] w-[50px] animate-twSpin rounded-[50%] border-[5px] border-solid border-primary border-t-transparent animate-ease animate-infinite"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
