{# :class="sidebarOpen ? 'translate-x-0' : '-translate-x-full' " #}
<aside
  class="h-full bg-surface shadow-sm transition-all duration-700"
  :class="sidebarOpen ? 'w-80' : 'w-14' "
>
  <a
    href="/pages/content"
    class="flex h-20 w-full items-center justify-center bg-primaryVariant py-2"
  >
    <img
      src="/assets/images/logo/logo.png"
      alt=""
      class="transform transition-all duration-700"
      :class="sidebarOpen ? 'w-36' : 'w-16 p-2' "
    />
  </a>
  <div class="p-2">
    <div class="relative w-full text-gray-500">
      <input
        type="text"
        class="w-full rounded border border-gray-200 bg-background p-2 pl-8 focus:border-transparent focus:bg-white focus:outline-none focus:ring-2 focus:ring-primary"
        placeholder="search..."
      />
      <i
        class="fa-solid fa-magnifying-glass fa-lg absolute left-2.5 top-3.5 py-2"
      ></i>
    </div>
  </div>
  <div
    class="flex flex-grow flex-col justify-between overflow-x-visible overflow-y-scroll text-onSurface scrollbar-thin scrollbar-track-background scrollbar-thumb-primary"
    style="height: calc(100vh - 140px)"
  >
    <ul
      x-data="{ open: 0 }"
      class="flex cursor-pointer flex-col justify-center divide-y divide-dashed text-onSurface"
    >
      <li
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
      >
        <a href="/dashboard_pages/" class="flex w-full items-center py-2 px-4">
          <div class="flex items-center">
            <i class="fa-brands fa-fort-awesome fa-lg py-3"></i>
            <span class="mx-4" x-show="sidebarOpen">Home</span>
          </div>
        </a>
      </li>

      <li
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open !== 1 ? open = 1 : open = 0"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-user-secret fa-lg py-3"></i>
            <span class="mx-4" x-show="sidebarOpen">Customer Management</span>
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open===1">
                <i class="fa-solid fa-chevron-up"></i>
              </template>
              <template x-if="open!=1">
                <i class="fa-solid fa-chevron-down"></i> </template
            ></span>
          </div>
        </div>

        <div
          x-bind:style="open == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : 'max-height: ' + 0 + 'px'"
          class="overflow-hidden text-justify transition-all duration-700"
        >
          <ul class="cursor-pointer" x-ref="container1">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href="/dashboard_pages/peoples"
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-child-reaching fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2">Peoples</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href="/dashboard_pages/search_person"
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-arrows-down-to-people fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2">Person Search</span>
              </a>
            </li>

            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-building fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2">Organizations</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open !== 2 ? open = 2 : open = 0"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-earth-asia fa-lg py-3"></i>
            <span class="mx-4" x-show="sidebarOpen">Online Service Reg.</span>
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open===2">
                <i class="fa-solid fa-chevron-up"></i>
              </template>
              <template x-if="open!=2">
                <i class="fa-solid fa-chevron-down"></i> </template
            ></span>
          </div>
        </div>

        <div
          x-bind:style="open == 2 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : 'max-height: ' + 0 + 'px'"
          class="overflow-hidden text-justify transition-all duration-700"
        >
          <ul class="cursor-pointer" x-ref="container2">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href="/dashboard_pages/me"
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-registered fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2">Registerations</span>
              </a>
            </li>

            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-registered fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Make Registration Entry</span
                >
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open !== 3 ? open = 3 : open = 0"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-feather fa-lg py-3"></i>
            <span class="mx-4" x-show="sidebarOpen"
              >Account Application Mgmt.</span
            >
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open===3">
                <i class="fa-solid fa-chevron-up"></i>
              </template>
              <template x-if="open!=3">
                <i class="fa-solid fa-chevron-down"></i> </template
            ></span>
          </div>
        </div>

        <div
          x-bind:style="open == 3 ? 'max-height: ' + $refs.container3.scrollHeight + 'px' : 'max-height: ' + 0 + 'px'"
          class="overflow-hidden text-justify transition-all duration-700"
        >
          <ul class="cursor-pointer" x-ref="container3">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-piggy-bank fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Make A/C Opening Req.</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-piggy-bank fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Account Opening Requests</span
                >
              </a>
            </li>

            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-user-slash fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Make A/C Closing Req.</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-user-slash fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Account Closing Requests</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-file-pen fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Make Info Update Req.</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-file-pen fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Information Update Reqests</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-recycle fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Make A/C Renew Req.</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-recycle fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Account Renew Requests</span
                >
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open !== 4 ? open = 4 : open = 0"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-piggy-bank fa-lg py-3"></i>
            <span class="mx-4" x-show="sidebarOpen"
              >Subsidiary Ledger Mgmt.</span
            >
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open===4">
                <i class="fa-solid fa-chevron-up"></i>
              </template>
              <template x-if="open!=4">
                <i class="fa-solid fa-chevron-down"></i> </template
            ></span>
          </div>
        </div>

        <div
          x-bind:style="open == 4 ? 'max-height: ' + $refs.container4.scrollHeight + 'px' : 'max-height: ' + 0 + 'px'"
          class="overflow-hidden text-justify transition-all duration-700"
        >
          <ul class="cursor-pointer" x-ref="container4">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href="/dashboard_pages/accounts"
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-universal-access fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2">My Accounts</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href="/dashboard_pages/accounts"
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-scroll-torah fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Subsidiary Ledger/Accounts</span
                >
              </a>
            </li>

            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-regular fa-folder-open fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2">Open An Account</span>
              </a>
            </li>

            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-house-lock fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2">Close An Account</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-magnifying-glass-chart fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2">Account Statement</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-calendar-days fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2">Account Schedules</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-hand-holding-dollar fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Account Collaterals</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-money-check-dollar fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2">Account Cheques</span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open !== 5 ? open = 5 : open = 0"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-money-bill-trend-up fa-lg py-3"></i>
            <span class="mx-4" x-show="sidebarOpen">General Accounting</span>
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open===5">
                <i class="fa-solid fa-chevron-up"></i>
              </template>
              <template x-if="open!=5">
                <i class="fa-solid fa-chevron-down"></i> </template
            ></span>
          </div>
        </div>

        <div
          x-bind:style="open == 5 ? 'max-height: ' + $refs.container5.scrollHeight + 'px' : 'max-height: ' + 0 + 'px'"
          class="overflow-hidden text-justify transition-all duration-700"
        >
          <ul class="cursor-pointer" x-ref="container5">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-chart-line fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2">Charts Of Account</span>
              </a>
            </li>

            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-receipt fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2">Ledgers</span>
              </a>
            </li>

            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-coins fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Debit/Payment Voucher</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-coins fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Credit/Receipt Voucher</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-coins fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Non-Cash/Transfer Voucher</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-coins fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2">Contra Voucher</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-brands fa-resolving fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2">Ledger Statement</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-brands fa-resolving fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2">Trial Balance</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-brands fa-resolving fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2">Cash Flow Report</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-brands fa-resolving fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Profit/Loss Report</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-brands fa-resolving fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Balance Sheet Report</span
                >
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open !== 6 ? open = 6 : open = 0"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-sack-dollar fa-lg py-3"></i>
            <span class="mx-4" x-show="sidebarOpen"
              >Subsidiary Voucher Entry</span
            >
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open===6">
                <i class="fa-solid fa-chevron-up"></i>
              </template>
              <template x-if="open!=6">
                <i class="fa-solid fa-chevron-down"></i> </template
            ></span>
          </div>
        </div>

        <div
          x-bind:style="open == 6 ? 'max-height: ' + $refs.container6.scrollHeight + 'px' : 'max-height: ' + 0 + 'px'"
          class="overflow-hidden text-justify transition-all duration-700"
        >
          <ul class="cursor-pointer" x-ref="container6">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-coins fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2">Daily Collection</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-coins fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Debit/Payment Voucher</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-coins fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Credit/Receipt Voucher</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-coins fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Non-Cash/Transfer Voucher</span
                >
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open !== 7 ? open = 7 : open = 0"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-address-card fa-lg py-3"></i>
            <span class="mx-4" x-show="sidebarOpen">Card Management</span>
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open===7">
                <i class="fa-solid fa-chevron-up"></i>
              </template>
              <template x-if="open!=7">
                <i class="fa-solid fa-chevron-down"></i> </template
            ></span>
          </div>
        </div>

        <div
          x-bind:style="open == 7 ? 'max-height: ' + $refs.container7.scrollHeight + 'px' : 'max-height: ' + 0 + 'px'"
          class="overflow-hidden text-justify transition-all duration-700"
        >
          <ul class="cursor-pointer" x-ref="container7">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-address-card fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2">Cards</span>
              </a>
            </li>

            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-address-card fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"> Transfer To Bank</span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open !== 8 ? open = 8 : open = 0"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-handshake fa-lg py-3"></i>
            <span class="mx-4" x-show="sidebarOpen">Recruitment</span>
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open===8">
                <i class="fa-solid fa-chevron-up"></i>
              </template>
              <template x-if="open!=8">
                <i class="fa-solid fa-chevron-down"></i> </template
            ></span>
          </div>
        </div>

        <div
          x-bind:style="open == 8 ? 'max-height: ' + $refs.container8.scrollHeight + 'px' : 'max-height: ' + 0 + 'px'"
          class="overflow-hidden text-justify transition-all duration-700"
        >
          <ul class="cursor-pointer" x-ref="container8">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href="/dashboard_pages/job_circular/"
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-handshake fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2">Job Circulars</span>
              </a>
            </li>

            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-handshake fa-lg py-3"></i>
                <span x-show="sidebarOpen" class="pl-2"> Job Applications</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open !== 9 ? open = 9 : open = 0"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-hand fa-lg py-3"></i>

            <span class="mx-4" x-show="sidebarOpen">Attendance Management</span>
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open===9">
                <i class="fa-solid fa-chevron-up"></i>
              </template>
              <template x-if="open!=9">
                <i class="fa-solid fa-chevron-down"></i> </template
            ></span>
          </div>
        </div>

        <div
          x-bind:style="open == 9 ? 'max-height: ' + $refs.container9.scrollHeight + 'px' : 'max-height: ' + 0 + 'px'"
          class="overflow-hidden text-justify transition-all duration-700"
        >
          <ul class="cursor-pointer" x-ref="container9">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2">Devices</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open !== 10 ? open = 10 : open = 0"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-head-side-cough fa-lg py-3"></i>
            <span class="mx-4" x-show="sidebarOpen">Leave Management</span>
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open===10">
                <i class="fa-solid fa-chevron-up"></i>
              </template>
              <template x-if="open!=10">
                <i class="fa-solid fa-chevron-down"></i> </template
            ></span>
          </div>
        </div>

        <div
          x-bind:style="open == 10 ? 'max-height: ' + $refs.container10.scrollHeight + 'px' : 'max-height: ' + 0 + 'px'"
          class="overflow-hidden text-justify transition-all duration-700"
        >
          <ul class="cursor-pointer" x-ref="container10">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2">Holliday's</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2"
                  >Leave Applications</span
                >
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</aside>
