{# :class="sidebarOpen ? 'translate-x-0' : '-translate-x-full' " #}
<aside
  class="h-full bg-surface shadow-sm transition-all duration-300"
  :class="sidebarOpen ? 'w-80' : 'w-14' "
>
  <a
    href="/pages/content"
    class="flex h-20 w-full items-center justify-center bg-primaryVariant py-2"
  >
    <img
      src="/assets/images/logo/white_logo.png"
      alt=""
      class="w-16 transform transition-all duration-300"
      :class="sidebarOpen ? '' : 'p-2' "
    />
  </a>
  <div class="p-2">
    <div class="relative w-full text-gray-500">
      <input
        type="text"
        class="w-full rounded border border-gray-200 bg-background p-2 pl-8 focus:border-transparent focus:bg-white focus:outline-none focus:ring-2 focus:ring-primary"
        placeholder="search..."
      />
      <i
        class="fa-solid fa-magnifying-glass fa-lg absolute left-2.5 top-3.5 py-2"
      ></i>
    </div>
  </div>
  <div
    class="flex flex-grow flex-col justify-between overflow-x-visible overflow-y-scroll text-onSurface scrollbar-thin scrollbar-track-background scrollbar-thumb-primary"
    style="height: calc(100vh - 140px)"
  >
    <ul
      class="flex cursor-pointer flex-col justify-center divide-y divide-dashed text-onSurface"
    >
      <li
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
      >
        <a href="/dashboard_pages/" class="flex w-full items-center py-2 px-4">
          <div class="flex items-center">
            <i class="fa-brands fa-fort-awesome fa-lg py-2"></i>
            <span class="mx-4" x-show="sidebarOpen">Home</span>
          </div>
        </a>
      </li>

      <li
        x-data="{ open: false }"
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open = !open"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-user-secret fa-lg py-2"></i>
            <span class="mx-4" x-show="sidebarOpen">Customer Management</span>
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open">
                <i class="fa-solid fa-chevron-up fa-lg py-2"></i>
              </template>
              <template x-if="!open">
                <i class="fa-solid fa-chevron-down fa-lg py-2"></i> </template
            ></span>
          </div>
        </div>

        <div
          :class="open ? 'max-h-[1000px]' : 'max-h-0' "
          class="ease transform overflow-hidden text-justify transition-all duration-300"
        >
          <ul class="cursor-pointer">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href="/dashboard_pages/peoples"
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-child-reaching fa-lg py-2"></i>
                <span x-show="sidebarOpen" class="pl-2">Peoples</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href="/dashboard_pages/home"
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-arrows-down-to-people fa-lg py-2"></i>
                <span x-show="sidebarOpen" class="pl-2">Person Search</span>
              </a>
            </li>

            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-building fa-lg py-2"></i>
                <span x-show="sidebarOpen" class="pl-2">Organizations</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li
        x-data="{ open: false }"
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open = !open"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-earth-asia fa-lg py-2"></i>
            <span class="mx-4" x-show="sidebarOpen">Online Service Reg.</span>
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open">
                <i class="fa-solid fa-chevron-up fa-lg py-2"></i>
              </template>
              <template x-if="!open">
                <i class="fa-solid fa-chevron-down fa-lg py-2"></i> </template
            ></span>
          </div>
        </div>

        <div
          :class="open ? 'max-h-[1000px]' : 'max-h-0' "
          class="ease transform overflow-hidden text-justify transition-all duration-300"
        >
          <ul class="cursor-pointer">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href="/dashboard_pages/me"
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-signature fa-lg py-2"></i>
                <span x-show="sidebarOpen" class="pl-2">Registerations</span>
              </a>
            </li>

            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-cash-register fa-lg py-2"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Make Registration Entry</span
                >
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li
        x-data="{ open: false }"
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open = !open"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-piggy-bank fa-lg py-2"></i>
            <span class="mx-4" x-show="sidebarOpen"
              >Account Application Mgmt.</span
            >
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open">
                <i class="fa-solid fa-chevron-up fa-lg py-2"></i>
              </template>
              <template x-if="!open">
                <i class="fa-solid fa-chevron-down fa-lg py-2"></i> </template
            ></span>
          </div>
        </div>

        <div
          :class="open ? 'max-h-[1000px]' : 'max-h-0' "
          class="ease transform overflow-hidden text-justify transition-all duration-300"
        >
          <ul class="cursor-pointer">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-piggy-bank fa-lg py-2"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Make A/C Opening Req.</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-piggy-bank fa-lg py-2"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Account Opening Requests</span
                >
              </a>
            </li>

            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-piggy-bank fa-lg py-2"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Make A/C Closing Req.</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-piggy-bank fa-lg py-2"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Account Closing Requests</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-file-pen fa-lg py-2"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Make Info Update Req.</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-file-pen fa-lg py-2"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Information Update Reqests</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <i class="fa-solid fa-piggy-bank fa-lg py-2"></i>
                <span x-show="sidebarOpen" class="pl-2"
                  >Make A/C Renew Req.</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2"
                  >Account Renew Requests</span
                >
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li
        x-data="{ open: false }"
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open = !open"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-piggy-bank fa-lg py-2"></i>
            <span class="mx-4" x-show="sidebarOpen"
              >Subsidiary Ledger Mgmt.</span
            >
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open">
                <i class="fa-solid fa-chevron-up fa-lg py-2"></i>
              </template>
              <template x-if="!open">
                <i class="fa-solid fa-chevron-down fa-lg py-2"></i> </template
            ></span>
          </div>
        </div>

        <div
          :class="open ? 'max-h-[1000px]' : 'max-h-0' "
          class="ease transform overflow-hidden text-justify transition-all duration-300"
        >
          <ul class="cursor-pointer">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href="/dashboard_pages/accounts"
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2">My Accounts</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href="/dashboard_pages/accounts"
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2"
                  >Subsidiary Ledger/Accounts</span
                >
              </a>
            </li>

            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2">Open An Account</span>
              </a>
            </li>

            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2">Close An Account</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2">Account Statement</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2">Account Schedules</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2"
                  >Account Collaterals</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2">Account Cheques</span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li
        x-data="{ open: false }"
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open = !open"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-sack-dollar fa-lg py-2"></i>
            <span class="mx-4" x-show="sidebarOpen">General Accounting</span>
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open">
                <i class="fa-solid fa-chevron-up fa-lg py-2"></i>
              </template>
              <template x-if="!open">
                <i class="fa-solid fa-chevron-down fa-lg py-2"></i> </template
            ></span>
          </div>
        </div>

        <div
          :class="open ? 'max-h-[1000px]' : 'max-h-0' "
          class="ease transform overflow-hidden text-justify transition-all duration-300"
        >
          <ul class="cursor-pointer">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2">Charts Of Account</span>
              </a>
            </li>

            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2">Ledgers</span>
              </a>
            </li>

            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2"
                  >Debit/Payment Voucher</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2"
                  >Credit/Receipt Voucher</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2"
                  >Non-Cash/Transfer Voucher</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2">Contra Voucher</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2">Ledger Statement</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2">Trial Balance</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2">Cash Flow Report</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2"
                  >Profit/Loss Report</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2"
                  >Balance Sheet Report</span
                >
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li
        x-data="{ open: false }"
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open = !open"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-sack-dollar fa-lg py-2"></i>
            <span class="mx-4" x-show="sidebarOpen"
              >Subsidiary Voucher Entry</span
            >
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open">
                <i class="fa-solid fa-chevron-up fa-lg py-2"></i>
              </template>
              <template x-if="!open">
                <i class="fa-solid fa-chevron-down fa-lg py-2"></i> </template
            ></span>
          </div>
        </div>

        <div
          :class="open ? 'max-h-[1000px]' : 'max-h-0' "
          class="ease transform overflow-hidden text-justify transition-all duration-300"
        >
          <ul class="cursor-pointer">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2">Daily Collection</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2"
                  >Debit/Payment Voucher</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2"
                  >Credit/Receipt Voucher</span
                >
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2"
                  >Non-Cash/Transfer Voucher</span
                >
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li
        x-data="{ open: false }"
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open = !open"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-address-card fa-lg py-2"></i>
            <span class="mx-4" x-show="sidebarOpen">Card Management</span>
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open">
                <i class="fa-solid fa-chevron-up fa-lg py-2"></i>
              </template>
              <template x-if="!open">
                <i class="fa-solid fa-chevron-down fa-lg py-2"></i> </template
            ></span>
          </div>
        </div>

        <div
          :class="open ? 'max-h-[1000px]' : 'max-h-0' "
          class="ease transform overflow-hidden text-justify transition-all duration-300"
        >
          <ul class="cursor-pointer">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2">Cards</span>
              </a>
            </li>

            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2"> Transfer To Bank</span>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li
        x-data="{ open: false }"
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open = !open"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-handshake fa-lg py-2"></i>
            <span class="mx-4" x-show="sidebarOpen">Recruitment</span>
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open">
                <i class="fa-solid fa-chevron-up fa-lg py-2"></i>
              </template>
              <template x-if="!open">
                <i class="fa-solid fa-chevron-down fa-lg py-2"></i> </template
            ></span>
          </div>
        </div>

        <div
          :class="open ? 'max-h-[1000px]' : 'max-h-0' "
          class="ease transform overflow-hidden text-justify transition-all duration-300"
        >
          <ul class="cursor-pointer">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href="/dashboard_pages/job_circular/"
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2">Job Circulars</span>
              </a>
            </li>

            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2"> Job Applications</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li
        x-data="{ open: false }"
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open = !open"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-hand fa-lg py-2"></i>

            <span class="mx-4" x-show="sidebarOpen">Attendance Management</span>
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open">
                <i class="fa-solid fa-chevron-up fa-lg py-2"></i>
              </template>
              <template x-if="!open">
                <i class="fa-solid fa-chevron-down fa-lg py-2"></i> </template
            ></span>
          </div>
        </div>

        <div
          :class="open ? 'max-h-[1000px]' : 'max-h-0' "
          class="ease transform overflow-hidden text-justify transition-all duration-300"
        >
          <ul class="cursor-pointer">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2">Devices</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li
        x-data="{ open: false }"
        class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
      >
        <div
          @click="open = !open"
          class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
        >
          <div class="flex items-center">
            <i class="fa-solid fa-head-side-cough fa-lg py-2"></i>
            <span class="mx-4" x-show="sidebarOpen">Leave Management</span>
          </div>
          <div class="">
            <span x-show="sidebarOpen">
              <template x-if="open">
                <i class="fa-solid fa-chevron-up fa-lg py-2"></i>
              </template>
              <template x-if="!open">
                <i class="fa-solid fa-chevron-down fa-lg py-2"></i> </template
            ></span>
          </div>
        </div>

        <div
          :class="open ? 'max-h-[1000px]' : 'max-h-0' "
          class="ease transform overflow-hidden text-justify transition-all duration-300"
        >
          <ul class="cursor-pointer">
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2">Holliday's</span>
              </a>
            </li>
            <li
              class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
              :class="sidebarOpen ? 'hover:-translate-x-10' : '' "
            >
              <a
                href=""
                class="flex w-full"
                :class="sidebarOpen ? 'pl-10' : '' "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
                  />
                </svg>
                <span x-show="sidebarOpen" class="pl-2"
                  >Leave Applications</span
                >
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</aside>
