<div class="h-full w-full p-2">
  <div
    class="select-none rounded-lg bg-surface hover:shadow"
    style="height: calc(100vh - 175px)"
  >
    <div class="px-2 pt-6">
      <h2 class="text-center text-xl font-bold uppercase lg:text-2xl">
        Peoples
      </h2>
    </div>
    <div
      class="flex h-16 items-center justify-between gap-4 p-2 text-primary hover:text-primaryVariant"
    >
      <button
        @click="displayModalJobCircular=true"
        class="flex w-1/2 cursor-pointer items-center justify-center rounded bg-primary py-2 px-4 text-onPrimary transition-all duration-300 hover:scale-105 hover:bg-primaryVariant hover:text-onPrimaryVariant lg:w-2/12"
      >
        <i class="fa-solid fa-circle-plus fa-lg mr-2"></i>
        Add Person
      </button>
      <div class="relative w-1/2 text-gray-500 lg:w-2/12">
        <input
          type="text"
          class="w-full rounded border border-gray-200 bg-background p-2 pl-8 focus:border-transparent focus:bg-white focus:outline-none focus:ring-2 focus:ring-primary"
          placeholder="search..."
        />
        <i
          class="fa-solid fa-magnifying-glass fa-lg absolute left-2.5 top-3.5 py-2"
        ></i>
      </div>
    </div>
    <div
      class="mx-2 overflow-auto scrollbar-thin scrollbar-track-background scrollbar-thumb-primary md:border"
      style="height: calc(100vh - 320px); width: calc(100vw - 350px)"
    >
      <table class="whitespace-no-wrap relative w-full table-auto">
        <thead class="w-full">
          <tr
            class="sticky -top-0 hidden h-16 w-full bg-surface text-onSurface shadow-sm md:table-row"
          >
            <th class="p-2 text-left">
              <p>PIN</p>
            </th>
            <th class="p-2 text-left">
              <p>Full_Name</p>
            </th>
            <th class="p-2 text-left">
              <p>Date_Of_Birth</p>
            </th>
            <th class="p-2 text-left">
              <p>Gender</p>
            </th>
            <th class="p-2 text-left">
              <p>Blood_Group</p>
            </th>
            <th class="p-2 text-left">
              <p>Religion</p>
            </th>
            <th class="p-2 text-left">
              <p>Merital_Status</p>
            </th>
            <th class="p-2 text-left">
              <p>Mobile_Number</p>
            </th>
            <th class="p-2 text-left">
              <p>National_ID_No</p>
            </th>
            <th class="p-2 text-left">
              <p>Birth_Registration_No</p>
            </th>
            <th class="p-2 text-left">
              <p>Profession</p>
            </th>
            <th class="p-2 text-left">
              <p>Education</p>
            </th>
            <th class="p-2 text-left">
              <p>Alive</p>
            </th>

            <th class="p-2 text-left">
              <p>Actions</p>
            </th>
          </tr>
        </thead>

        <tbody class="flex-1 bg-backgroundVariant sm:flex-none">
          {% include 'partials/dashboard/recruitment/data_job_circulars.html' %}
        </tbody>
      </table>
      <div
        class="sticky bottom-0 flex grow flex-col items-center justify-between gap-2 bg-surface p-2 text-onSurface md:flex-row"
      >
        <div class="flex items-center">
          <label>Show</label>
          <select
            class="peer mx-1 w-full rounded bg-surface transition-colors focus:border-primary"
          >
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="150">150</option>
            <option value="-1">All</option>
          </select>
          <label>entries</label>
        </div>
        <div>Showing 1 to 1 of 7 entries</div>
        <div class="whitespace-nowrap text-right">
          <ul class="inline-flex items-center -space-x-px">
            <li>
              <a
                href="#"
                class="border border-gray-300 bg-white px-3 py-2 leading-tight text-gray-500 hover:bg-primary hover:text-onPrimary"
              >
                Previous
              </a>
            </li>
            <li>
              <a
                href="#"
                class="border border-gray-300 bg-white px-3 py-2 leading-tight text-gray-500 hover:bg-primary hover:text-onPrimary"
                >1</a
              >
            </li>
            <li>
              <a
                href="#"
                class="border border-gray-300 bg-white px-3 py-2 leading-tight text-gray-500 hover:bg-primary hover:text-onPrimary"
                >2</a
              >
            </li>
            <li>
              <a
                href="#"
                aria-current="page"
                class="bg-Primary z-10 border px-3 py-2 leading-tight text-onPrimary hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
                >3</a
              >
            </li>
            <li>
              <a
                href="#"
                class="border border-gray-300 bg-white px-3 py-2 leading-tight text-gray-500 hover:bg-primary hover:text-onPrimary"
                >4</a
              >
            </li>
            <li>
              <a
                href="#"
                class="border border-gray-300 bg-white px-3 py-2 leading-tight text-gray-500 hover:bg-primary hover:text-onPrimary"
                >5</a
              >
            </li>
            <li>
              <a
                href="#"
                class="border border-gray-300 bg-white px-3 py-2 leading-tight text-gray-500 hover:bg-primary hover:text-onPrimary"
              >
                Next
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
