<div class="p-2">
  <div
    class="mb-2 flex w-full gap-4 rounded-lg bg-surface p-2 text-gray-500 hover:shadow"
  >
    <div class="group relative w-3/12">
      <div class="relative w-full text-gray-500">
        <input
          type="text"
          class="w-full rounded border border-gray-200 bg-background py-2 pr-12 pl-10 focus:border-transparent focus:bg-white focus:outline-none focus:ring-2 focus:ring-primary"
          placeholder="search..."
        />
        <i
          class="fa-solid fa-magnifying-glass fa-lg absolute left-2.5 top-5"
        ></i>
        <button
          class="absolute top-0 right-0 h-full rounded-r bg-primary px-3 text-onPrimary transition-all duration-300 hover:scale-105 hover:ring-1 hover:ring-pink-500"
        >
          GO
        </button>
      </div>
      <ul
        class="invisible absolute top-10 right-0 z-10 max-h-72 w-full divide-y overflow-x-scroll border border-gray-100 bg-surface shadow group-hover:visible"
      >
        <li
          class="relative flex cursor-pointer items-center gap-x-4 py-1 px-4 hover:bg-yellow-50 hover:text-gray-900"
        >
          <i class="fa-solid fa-user-secret fa-2xl"></i>
          <div class="flex flex-col">
            <div class="">
              <span class="text-sm">0050725</span> |
              <span class="text-sm">John Smith Die Hard</span>
            </div>
            <div class="">
              <span class="text-sm">Male</span> |
              <span class="text-sm">02 April 2002</span>
            </div>
          </div>
        </li>
        <li
          class="relative flex cursor-pointer items-center gap-x-4 py-1 px-4 hover:bg-yellow-50 hover:text-gray-900"
        >
          <i class="fa-solid fa-user-secret fa-2xl"></i>
          <div class="flex flex-col">
            <div class="">
              <span class="text-sm">0050725</span> |
              <span class="text-sm">John Smith Die Hard</span>
            </div>
            <div class="">
              <span class="text-sm">Male</span> |
              <span class="text-sm">02 April 2002</span>
            </div>
          </div>
        </li>
        <li
          class="relative flex cursor-pointer items-center gap-x-4 py-1 px-4 hover:bg-yellow-50 hover:text-gray-900"
        >
          <i class="fa-solid fa-user-secret fa-2xl"></i>
          <div class="flex flex-col">
            <div class="">
              <span class="text-sm">0050725</span> |
              <span class="text-sm">John Smith Die Hard</span>
            </div>
            <div class="">
              <span class="text-sm">Male</span> |
              <span class="text-sm">02 April 2002</span>
            </div>
          </div>
        </li>
        <li
          class="relative flex cursor-pointer items-center gap-x-4 py-1 px-4 hover:bg-yellow-50 hover:text-gray-900"
        >
          <i class="fa-solid fa-user-secret fa-2xl"></i>
          <div class="flex flex-col">
            <div class="">
              <span class="text-sm">0050725</span> |
              <span class="text-sm">John Smith Die Hard</span>
            </div>
            <div class="">
              <span class="text-sm">Male</span> |
              <span class="text-sm">02 April 2002</span>
            </div>
          </div>
        </li>
        <li
          class="relative flex cursor-pointer items-center gap-x-4 py-1 px-4 hover:bg-yellow-50 hover:text-gray-900"
        >
          <i class="fa-solid fa-user-secret fa-2xl"></i>
          <div class="flex flex-col">
            <div class="">
              <span class="text-sm">0050725</span> |
              <span class="text-sm">John Smith Die Hard</span>
            </div>
            <div class="">
              <span class="text-sm">Male</span> |
              <span class="text-sm">02 April 2002</span>
            </div>
          </div>
        </li>
        <li
          class="relative flex cursor-pointer items-center gap-x-4 py-1 px-4 hover:bg-yellow-50 hover:text-gray-900"
        >
          <i class="fa-solid fa-user-secret fa-2xl"></i>
          <div class="flex flex-col">
            <div class="">
              <span class="text-sm">0050725</span> |
              <span class="text-sm">John Smith Die Hard</span>
            </div>
            <div class="">
              <span class="text-sm">Male</span> |
              <span class="text-sm">02 April 2002</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="group relative w-3/12">
      <div
        class="relative flex w-full items-center rounded border bg-background py-2 px-4 text-gray-500"
      >
        <input
          type="checkbox"
          checked
          class="mr-2"
          name="vehicle1"
          value="Bike"
        />
        <label>Personal Identification Number (PIN)</label>

        <button
          class="absolute top-0 right-0 h-full rounded-r bg-primary px-3 text-onPrimary transition-all duration-300 hover:scale-105 hover:ring-1 hover:ring-pink-500"
        >
          <i class="fa-solid fa-angle-down"></i>
        </button>
      </div>
      <ul
        class="invisible absolute top-10 right-0 z-10 max-h-72 w-full divide-y overflow-x-scroll border border-gray-100 bg-surface shadow group-hover:visible"
      >
        <li
          class="relative flex cursor-pointer items-center py-1 px-4 hover:bg-yellow-50 hover:text-gray-900"
        >
          <input type="checkbox" class="mr-2" name="vehicle1" value="Bike" />
          <label>Person Name</label>
        </li>
        <li
          class="relative flex cursor-pointer items-center py-1 px-4 hover:bg-yellow-50 hover:text-gray-900"
        >
          <input type="checkbox" class="mr-2" name="vehicle1" value="Bike" />
          <label>Account Number</label>
        </li>
        <li
          class="relative flex cursor-pointer items-center py-1 px-4 hover:bg-yellow-50 hover:text-gray-900"
        >
          <input type="checkbox" class="mr-2" name="vehicle1" value="Bike" />
          <label>Mobile Number</label>
        </li>
        <li
          class="relative flex cursor-pointer items-center py-1 px-4 hover:bg-yellow-50 hover:text-gray-900"
        >
          <input type="checkbox" class="mr-2" name="vehicle1" value="Bike" />
          <label>Email</label>
        </li>
        <li
          class="relative flex cursor-pointer items-center py-1 px-4 hover:bg-yellow-50 hover:text-gray-900"
        >
          <input type="checkbox" class="mr-2" name="vehicle1" value="Bike" />
          <label>National ID</label>
        </li>
        <li
          class="relative flex cursor-pointer items-center py-1 px-4 hover:bg-yellow-50 hover:text-gray-900"
        >
          <input type="checkbox" class="mr-2" name="vehicle1" value="Bike" />
          <label>Birth Registration</label>
        </li>
      </ul>
    </div>
  </div>

  <div x-data="{ tab: 1 }" x-cloak class="text-onSurface">
    <div class="relative flex flex-col overflow-hidden rounded-lg hover:shadow">
      <div
        class="flex h-14 items-center justify-between border-b border-gray-200 bg-white px-4"
      >
        <div class="flex items-center">
          <i class="fa-solid fa-circle-info fa-lg"></i>
          <span class="ml-3">Person Details</span>
        </div>

        <button
          class="flex items-center space-x-2 transition-all duration-300 hover:scale-125 hover:cursor-pointer"
        >
          <i class="fa-solid fa-pen-to-square fa-lg"></i>
        </button>
      </div>
      <div
        class="flex space-x-4 overflow-hidden overflow-x-scroll border-b border-gray-200 bg-pink-50 px-4 scrollbar-thin scrollbar-track-gray-300 scrollbar-thumb-gray-200"
      >
        <button
          type="button"
          class="border-t-2 border-transparent py-2 px-1 font-medium tracking-wide text-gray-400 focus:outline-none hover:text-gray-500"
          x-on:click="tab = 1"
          :class="{ 'text-gray-700 border-indigo-500': tab === 1 }"
        >
          Personal Info
        </button>
        <button
          type="button"
          class="border-t-2 border-transparent py-2 px-1 font-medium tracking-wide text-gray-400 focus:outline-none hover:text-gray-500"
          x-on:click="tab = 2"
          :class="{ 'text-gray-700 border-indigo-500': tab === 2 }"
        >
          Addresses
        </button>
        <button
          type="button"
          class="border-t-2 border-transparent py-2 px-1 font-medium tracking-wide text-gray-400 focus:outline-none hover:text-gray-500"
          x-on:click="tab = 3"
          :class="{ 'text-gray-700 border-indigo-500': tab === 3 }"
        >
          Family & Relatives
        </button>
        <button
          type="button"
          class="border-t-2 border-transparent py-2 px-1 font-medium tracking-wide text-gray-400 focus:outline-none hover:text-gray-500"
          x-on:click="tab = 4"
          :class="{ 'text-gray-700 border-indigo-500': tab === 4 }"
        >
          Job Histories
        </button>
        <button
          type="button"
          class="border-t-2 border-transparent py-2 px-1 font-medium tracking-wide text-gray-400 focus:outline-none hover:text-gray-500"
          x-on:click="tab = 5"
          :class="{ 'text-gray-700 border-indigo-500': tab === 5 }"
        >
          Educations
        </button>
        <button
          type="button"
          class="border-t-2 border-transparent py-2 px-1 font-medium tracking-wide text-gray-400 focus:outline-none hover:text-gray-500"
          x-on:click="tab = 6"
          :class="{ 'text-gray-700 border-indigo-500': tab === 6 }"
        >
          Training
        </button>
        <button
          type="button"
          class="border-t-2 border-transparent py-2 px-1 font-medium tracking-wide text-gray-400 focus:outline-none hover:text-gray-500"
          x-on:click="tab = 7"
          :class="{ 'text-gray-700 border-indigo-500': tab === 7 }"
        >
          Documents
        </button>
      </div>

      <div
        class="overflow-y-scroll bg-surface px-4"
        style="height: calc(100vh - 330px)"
      >
        <div x-show="tab === 1">Tab One</div>

        <div x-show="tab === 2">Tab Two</div>

        <div x-show="tab === 3">Tab Three</div>
      </div>
    </div>
  </div>
</div>
