<li
  class="w-full bg-surface text-onSurface transition-colors duration-300 hover:bg-primary hover:text-onPrimary"
>
  <div
    @click="firstLevelOpen !== 1 ? firstLevelOpen = 1 : firstLevelOpen = 0"
    class="group flex w-full items-center justify-between py-2 px-4 hover:font-bold"
  >
    <div class="flex items-center">
      <i class="fa-solid fa-user-secret fa-lg py-3"></i>
      <span class="mx-4" x-show="sidebarOpen">Customer Management</span>
    </div>
    <div class="">
      <span x-show="sidebarOpen">
        <template x-if="firstLevelOpen===1">
          <i class="fa-solid fa-chevron-up"></i>
        </template>
        <template x-if="firstLevelOpen!=1">
          <i class="fa-solid fa-chevron-down"></i> </template
      ></span>
    </div>
  </div>

  <div
    x-bind:style="firstLevelOpen == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : 'max-height: ' + 0 + 'px'"
    class="overflow-hidden text-justify transition-all duration-700"
  >
    <ul class="cursor-pointer" x-ref="container1">
      <li
        class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
        :class="sidebarOpen ? 'hover:translate-x-10' : '' "
      >
        <a href="/dashboard_pages/peoples" class="flex w-full">
          <i class="fa-solid fa-child-reaching fa-lg py-3"></i>
          <span x-show="sidebarOpen" class="pl-2">Peoples</span>
        </a>
      </li>
      <li
        class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
        :class="sidebarOpen ? 'hover:translate-x-10' : '' "
      >
        <a href="/dashboard_pages/organizations" class="flex w-full">
          <i class="fa-solid fa-building fa-lg py-3"></i>
          <span x-show="sidebarOpen" class="pl-2">Organizations</span>
        </a>
      </li>
      <li
        class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
        :class="sidebarOpen ? 'hover:translate-x-10' : '' "
      >
        <a href="/dashboard_pages/search_customer_person" class="flex w-full">
          <i class="fa-solid fa-arrows-down-to-people fa-lg py-3"></i>
          <span x-show="sidebarOpen" class="pl-2"
            >Search Customer (Person)</span
          >
        </a>
      </li>
      <li
        class="flex items-center bg-surface px-4 py-2 text-onSurface transition-all duration-300 hover:bg-primary hover:font-bold hover:text-onPrimary"
        :class="sidebarOpen ? 'hover:translate-x-10' : '' "
      >
        <a
          href="/dashboard_pages/search_customer_organization"
          class="flex w-full"
        >
          <i class="fa-solid fa-arrows-down-to-people fa-lg py-3"></i>
          <span x-show="sidebarOpen" class="pl-2">Search Customer (Org)</span>
        </a>
      </li>
    </ul>
  </div>
</li>
