<div
  :class="displayModalacc? 'translate-x-0' : '-translate-x-full'"
  class="duration-400 fixed inset-0 z-50 flex -translate-x-full items-center justify-center overflow-hidden bg-gray-900 bg-opacity-90 p-4 text-onSurface transition-all"
>
  <div
    class="m-auto w-full overflow-hidden rounded-sm bg-surface shadow-sm md:w-[450px]"
  >
    <div
      class="flex items-center justify-center border-b p-4 text-2xl font-bold text-onSurface"
    >
      <p class="ml-2 antialiased">Monthly Share Account</p>
    </div>
    <div class="content p-4">
      <ul class="divide-y overflow-hidden text-justify">
        <li
          class="flex items-center p-2 transition-colors duration-300 hover:bg-backgroundVariant"
        >
          <div class="w-3/5 font-bold">Account Number</div>
          <div class="w-2/5">T-0060567</div>
        </li>
        <li
          class="flex items-center p-2 transition-colors duration-300 hover:bg-backgroundVariant"
        >
          <div class="w-3/5 font-bold">Balance</div>
          <div class="w-2/5">51357</div>
        </li>
        <li
          class="flex items-center p-2 transition-colors duration-300 hover:bg-backgroundVariant"
        >
          <div class="w-3/5 font-bold">Withdrawable Balance</div>
          <div class="w-2/5">3000</div>
        </li>
        <li
          class="flex items-center p-2 transition-colors duration-300 hover:bg-backgroundVariant"
        >
          <div class="w-3/5 font-bold">Nominee</div>
          <div class="w-2/5 flex-wrap">
            Driste Maria Palma, Lintas Philip Corraya, Driste Maria Palma
          </div>
        </li>
        <li
          class="flex items-center p-2 transition-colors duration-300 hover:bg-backgroundVariant"
        >
          <div class="w-3/5 font-bold">Last Deposit Date</div>
          <div class="w-2/5">13-Nov-2022</div>
        </li>
      </ul>
    </div>
    <div class="flex items-center justify-center gap-4 p-4">
      <button
        class="w-24 rounded-sm border bg-primary py-1 font-semibold uppercase text-onPrimary hover:bg-primaryVariant"
        @click="displayModalacc=false"
      >
        Close
      </button>
    </div>
  </div>
</div>
