---
layout: 'layouts/public_layout.njk'
---

{% import 'shared/components/banner-macro.html' as macro %} 
{{
macro.renderBanner("Home","404",'Resource not found.') 
}}
{% include 'partials/public/404/404-content.html' %}

 