---
layout: "layouts/public_layout.njk"
---

{% import 'macro/banner-macro.html' as macro %} {{
macro.renderBanner("Home","Contact Us",'Employment Creation is Our Goal;
Self-Reliant Community is Our Dream.') }} 
{% include
'partials/public/contact/contact-content.html' %}

<script type="text/javascript">
  var serviceCenters = [
    {
      serviceCenter: "Head Office",
      address:
        "Rev. Fr. Charles J. Young Bhaban 173/1/A, East Tejturi Bazar,Tejgaon, Dhaka-1215. ",
      phone: "9123764, 9139901-2, 58152640, 58153316",
      ipPhone: "9678771270",
      fax: "88-02-9143079",
      email: "info@cccul.com",
      inchargeName: "",
      inchargeDesignation: "",
      inchargeContact: "",
      lat: 23.756677326621922,
      lng: 90.39362746038861,
    },
    {
      serviceCenter: "Head Office- Extension",
      address: "Tejgaon Church Community Center Tejgaon, Dhaka-1215.",
      phone: "9123764, 9139901-2, 58152640, 58153316",
      ipPhone: "9678771270",
      fax: "88-02-9143079",
      email: "info@cccul.com",
      inchargeName: "",
      inchargeDesignation: "",
      inchargeContact: "",
      lat: 23.803897097686892,
      lng: 90.3753322500632,
    },
    {
      serviceCenter: "Shadhanpara Service Center",
      address: "8/ka, East Razabazar, (SadhanPara)",
      phone: "",
      ipPhone: "",
      fax: "",
      email: "jhuma.rebeiro@cccul.com",
      inchargeName: "Jhuma Rebeiro",
      inchargeDesignation: "Assistant Manager-In charge",
      inchargeContact: "01709-815416",
      lat: 23.75740653691872,
      lng: 90.38737219204839,
    },
    {
      serviceCenter: "Monipuripara Service Center",
      address: "88/5, MonipuriPara, Dhaka.",
      phone: "",
      ipPhone: "",
      fax: "",
      email: "profullah.rozario@cccul.com",
      inchargeName: "Profullah Linus Rozario",
      inchargeDesignation: "Manager",
      inchargeContact: "01709-815408",
      lat: 23.762532467978236,
      lng: 90.384061646396,
    },
    {
      serviceCenter: "Mirpur Service Center",
      address: "32/5, Senpara Porbota,Mirpur-10, Dhaka-1216.",
      phone: "",
      ipPhone: "",
      fax: "",
      email: "shilpi.costa@cccul.com",
      inchargeName: "Shilpi A.D. Costa",
      inchargeDesignation: "Senior Officer-In charge",
      inchargeContact: "01709-815417",
      lat: 23.80454288030815,
      lng: 90.3666196825531,
    },
    {
      serviceCenter: "Nagori Service Center",
      address: "Tripti Super Market, Nagori Kaligonj, Gazipur",
      phone: "",
      ipPhone: "",
      fax: "",
      email: "shishir.bairagi@cccul.com",
      inchargeName: "Shishir Bairagi",
      inchargeDesignation: "Junior Officer-Incharge(Acting)",
      inchargeContact: "01709-815452",
      lat: 23.913966193237624,
      lng: 90.50750687916745,
    },
    {
      serviceCenter: "Savar Service Center",
      address: "TB 45/11, East Rajason,Berulia Road, Savar, Dhaka.",
      phone: "",
      ipPhone: "",
      fax: "",
      email: "prodip.das@cccul.com",
      inchargeName: "Prodip L. Das",
      inchargeDesignation: "Senior Officer In-Charge",
      inchargeContact: "01709-993086",
      lat: 23.850989059232067,
      lng: 90.28481382624312,
    },
    {
      serviceCenter: "Nadda Service Center",
      address: "Ka-23/3/B, Joar Shahara Nadda, Dhaka-1212.",
      phone: "",
      ipPhone: "",
      fax: "",
      email: "bipul.gomes@cccul.com",
      inchargeName: "Bipul T. Gomes",
      inchargeDesignation: "Manager",
      inchargeContact: "01709-815413",
      lat: 23.813484414636275,
      lng: 90.41766775909133,
    },
    {
      serviceCenter: "Luxmibazar Service Center",
      address: "61/1, Subash Bose Avenue,Community Center Bhaban,Luxmibazar.",
      phone: "",
      ipPhone: "",
      fax: "",
      email: "lorence.rozario@cccul.com",
      inchargeName: "Lawrence Kajal Rozario",
      inchargeDesignation: "Manager",
      inchargeContact: "01709-815409",
      lat: 23.707985489497695,
      lng: 90.41637858237475,
    },
    {
      serviceCenter: "Mohakhali Service Center",
      address: "Ka-115/1, South Mohakhali,Gulshan, Dhaka.",
      phone: "",
      ipPhone: "",
      fax: "",
      email: "milton.penheiro@cccul.com",
      inchargeName: "Milton Penheiro",
      inchargeDesignation: "Officer In-charge",
      inchargeContact: "01709-815433",
      lat: 23.77409259892226,
      lng: 90.4035757300455,
    },
    {
      serviceCenter: "Pagar Service Center",
      address: "128, Kobi Joshimuddin Road, Pagar Tongi ,Gazipur.",
      phone: "",
      ipPhone: "",
      fax: "",
      email: "sajal.cruze@cccul.com",
      inchargeName: "Shajal Joseph Cruze",
      inchargeDesignation: "Acting-Incharge",
      inchargeContact: "01709-815462",
      lat: 23.897096738220565,
      lng: 90.42878095376973,
    },
    {
      serviceCenter: "Hasnabad Service Center/Bandura",
      address: "Jonas Rozario Bhaban, Nowabganj, Dhaka.",
      phone: "",
      ipPhone: "",
      fax: "",
      email: "james.anjous@cccul.com",
      inchargeName: "James Anjous",
      inchargeDesignation: "Officer-In Charge",
      inchargeContact: "01709-815423",
      lat: 23.658905919189486,
      lng: 90.11026384059814,
    },
    {
      serviceCenter: "Tumilia Service Center",
      address: "Tumilia Credit, Kaliganj, Gazipur.",
      phone: "",
      ipPhone: "",
      fax: "",
      email: "joyanti.rozario@cccul.com",
      inchargeName: "Jayanti Rozario",
      inchargeDesignation: "Sr. Officer In-Charge",
      inchargeContact: "01709-815424",
      lat: 23.92616571063089,
      lng: 90.54313342739371,
    },
    {
      serviceCenter: "Solpur Service Center",
      address: "5 Sister Market, Sirajdikhan, Munsiganj.",
      phone: "",
      ipPhone: "",
      fax: "",
      email: "rajesh.rozario@cccul.com",
      inchargeName: "Dominic Rajesh Rozario",
      inchargeDesignation: "Supervisor",
      inchargeContact: "01709-815434",
      lat: 23.612468660454017,
      lng: 90.31837322513877,
    },
    {
      serviceCenter: "Kafrul Collection Booth",
      address: "St.Lawrence Church Community Center.South Kafrul,Dhaka-1206.",
      phone: "",
      ipPhone: "",
      fax: "",
      collection: "Every Monday ",
      time: "10am – 1pm",
      email: "",
      inchargeName: "",
      inchargeDesignation: "",
      inchargeContact: "",
      lat: 23.786379308877613,
      lng: 90.38513774436795,
    },
    {
      serviceCenter: "Moghbazar Collection Booth",
      address:
        "Dhaka Christian Bohumukhi Samabay Samity.(2nd Floor) 370, Dilu Road, Moghbazar, Dhaka.",
      phone: "",
      ipPhone: "",
      fax: "",
      collection: "Every Thursday",
      time: "10am – 1pm",
      email: "",
      inchargeName: "",
      inchargeDesignation: "",
      inchargeContact: "",
      lat: 23.786379308877613,
      lng: 90.38513774436795,
    },
    {
      serviceCenter: "Motijheel Notre Dame College",
      address: "Motijheel Dhaka.",
      phone: "",
      ipPhone: "",
      fax: "",
      collection: "Last 2 days of the Month ",
      time: "10am – 1pm",
      email: "",
      inchargeName: "",
      inchargeDesignation: "",
      inchargeContact: "",
      lat: 23.73070897110082,
      lng: 90.42108429680269,
    },
    {
      serviceCenter: "Mothbari Collection Booth",
      address: "",
      phone: "",
      ipPhone: "",
      fax: "",
      collection: "",
      email: "",
      inchargeName: "",
      inchargeDesignation: "",
      inchargeContact: "",
      lat: 23.885053683367705,
      lng: 90.4841327292594,
    },
    {
      serviceCenter: "Bhadun Collection Booth",
      address: "",
      phone: "",
      ipPhone: "",
      fax: "",
      collection: "",
      email: "",
      inchargeName: "",
      inchargeDesignation: "",
      inchargeContact: "",
      lat: 23.757603776149192,
      lng: 90.38737059774117,
    },
    {
      serviceCenter: "Bhadun Collection Booth",
      address: "",
      phone: "",
      ipPhone: "",
      fax: "",
      collection: "",
      email: "",
      inchargeName: "",
      inchargeDesignation: "",
      inchargeContact: "",
      lat: 23.757603776149192,
      lng: 90.38737059774117,
    },
    {
      serviceCenter: "Uttara Collection Booth",
      address:
        "Believers Church, Road &amp; House-02 Sector-06, Uttara, Dhaka.",
      phone: "",
      ipPhone: "",
      fax: "",
      collection: "Every Sunday",
      time: "10am – 1pm",
      email: "",
      inchargeName: "",
      inchargeDesignation: "",
      inchargeContact: "",
      lat: 23.865070098798768,
      lng: 90.3904244406705,
    },
  ];

  const icon = {
    url: "/assets/icons/pin.png", // url
    scaledSize: new google.maps.Size(50, 50), // scaled size
    origin: new google.maps.Point(0, 0), // origin
    anchor: new google.maps.Point(0, 0), // anchor
  };

  var map = new google.maps.Map(document.getElementById("map"), {
    zoom: 10,
    center: new google.maps.LatLng(23.756677326621922, 90.39362746038861),
    mapTypeId: google.maps.MapTypeId.ROADMAP,
  });

  var infowindow = new google.maps.InfoWindow();

  var marker, i;

  for (i = 0; i < serviceCenters.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(
        serviceCenters[i].lat,
        serviceCenters[i].lng
      ),
      map: map,
      icon: icon,
    });

    google.maps.event.addListener(
      marker,
      "click",
      (function (marker, i) {
        return function () {
          infowindow.setContent(`
            <div class="w-96">
                  <div class="text-xl font-bold  p-2">${serviceCenters[i].serviceCenter}</div>
                  <div class="text-sm p-2">
                        <p>${serviceCenters[i].address}</p>
                        <p>${serviceCenters[i].phone}</p>
                        <p>${serviceCenters[i].ipPhone}</p>
                        <p>${serviceCenters[i].fax}</p>
                        <p>${serviceCenters[i].email}</p>
                  </div>
                  <div class="text-sm p-2">
                        <p class="font-semibold">${serviceCenters[i].inchargeName}</p>
                        <p>${serviceCenters[i].inchargeDesignation}</p>
                  </div>
                 <div class="text-sm p-2">
                        <p>${serviceCenters[i].collection}</p>
                        <p>${serviceCenters[i].time}</p>
                 </div>
            </div>
          `);
          infowindow.open(map, marker);
        };
      })(marker, i)
    );
  }
</script>
