---
layout: "layouts/public_layout.njk"
---

{% import 'macro/banner-macro.html' as macro %}
{{
  macro.renderBanner(
    "Home",
    "Members Log In",
    "Employment
  Creation is Our Goal; Self-Reliant Community is Our Dream."
  )
}}

{% include 'partials/public/memberslogin/members-content.html' %}
