---
layout: 'layouts/public_layout.njk'
---

{% import 'shared/components/banner-macro.html' as macro %} 
{{
macro.renderBanner("About","Mission and Vision",'Employment
Creation is Our Goal; Self-Reliant Community is Our Dream.') 
}}

<!-- Container for demo purpose -->

<div class="clear-both"></div>
<div class="container mx-auto mb-20 px-4">
  <section
    class="flex flex-col-reverse items-start gap-6 text-justify md:flex-row"
  >
    
        {% include 'partials/public/about/mission-vision-content.html' %}
     
      {% include 'partials/public/_side-navigation.html' %}
  </section>
</div>


