<section class="text-onSurface">
  <div class="container mx-auto animate-backInRight px-4 pb-20">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      <div class="w-full">
        <a
          href="/archives/projects/single/child-care/"
          class="flex h-full items-center overflow-hidden rounded-lg border border-gray-200 bg-surface p-4 hover:shadow-md"
        >
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full bg-gray-100 object-cover object-center"
            src="/assets/images/project/dc_child.jpg"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium">D.C Child Care</h2>
            <p class="">
              World Class Standard Child Care facility is provided to the
              members.
            </p>
          </div>
        </a>
      </div>
      <div class="w-full">
        <a
          href="/archives/projects/single/dc-school/"
          class="flex h-full items-center overflow-hidden rounded-lg border border-gray-200 bg-surface p-4 hover:shadow-md"
        >
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full bg-gray-100 object-cover object-center"
            src="/assets/images/project/dcschool.JPG"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium">D.C School</h2>
            <p class="">
              Education is the first step towards a brighter future for child.
            </p>
          </div>
        </a>
      </div>
      <div class="w-full">
        <a
          href="/archives/projects/single/girls-hostel/"
          class="flex h-full items-center overflow-hidden rounded-lg border border-gray-200 bg-surface p-4 hover:shadow-md"
        >
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full bg-gray-100 object-cover object-center"
            src="/assets/images/project/hostel.jpg"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium">Girl’s Hostel</h2>
            <p class="">
              Perfect for working women and students with in Dhaka City
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
