<section class="container mx-auto mb-20 px-4">
  <div
    class="h-full overflow-hidden rounded-sm bg-surface py-12 px-6 shadow-sm"
  >
    <div class="flex h-full items-center text-onSurface lg:gap-6">
      <div class="hidden w-2/5 lg:block">
        <img src="/assets/images/tree.jpg" class="w-full" alt="" />
      </div>
      <div class="w-full px-0 md:w-full md:px-20 lg:w-3/5 lg:px-40">
        <h2 class="text-center text-2xl font-extrabold uppercase">Login</h2>
        <h3 class="text-center text-lg font-normal">to your account</h3>
        <form>
          <div class="mb-6">
            {% import 'shared/components/InputBox.html' as macro %} {{
            macro.renderTextInput("text", "", "Email/Phone ", "", "email/Phone")
            }}
          </div>

          <div
            class="relative my-3 w-full text-onSurface"
            x-data="{ hasValue: '',showpassword : false }"
          >
            {% import 'shared/components/PasswordInput.html' as macro %} {{
            macro.renderShowPassword("exampleCheck2","Show password","Forget
            Password?") }}
          </div>

          <button
            type="submit"
            class="inline-block w-full rounded bg-primary px-7 py-3 text-sm font-medium uppercase leading-snug text-white shadow-md transition duration-150 ease-in-out active:shadow-lg"
            data-mdb-ripple="true"
            data-mdb-ripple-color="light"
          >
            Log in
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
