<div class="container--narrow page-section container">
  <div class="event-summary">
    <span class="event-summary__date t-center" href="#">
      <span class="event-summary__month">Dec</span>
      <span class="event-summary__day">25</span>
    </span>
    <div class="event-summary__content">
      <h5 class="event-summary__title headline headline--tiny">
        <a href="http://demo.cccul.com/events/easter-sunday/">Christmas Day</a>
      </h5>
      <p>
        Throw the perfect festive party this season using…
        <a href="http://demo.cccul.com/events/easter-sunday/" class="nu gray"
          >Learn more</a
        >
      </p>
    </div>
  </div>
</div>
