---
layout: "layouts/public_layout.njk"
---

{% import 'macro/banner-macro.html' as macro %}
{{
  macro.renderBanner(
    "Services",
    "DC News",
    "Employment Creation is Our Goal; Self-Reliant
Community is Our Dream."
  )
}}

{% include 'partials/public/services/single/dc-news-content.html' %}
