<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" />
    <script
      src="https://maps.googleapis.com/maps/api/js?v=3.11&sensor=false"
      type="text/javascript"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
      integrity="sha512-Mo79lrQ4UecW8OCcRUZzf0ntfMNgpOFR46Acj2ZtWO8vKhBvD79VCp3VOKSzk6TovLg5evL3Xi3u475Q/jMu4g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      defer
      src="https://unpkg.com/alpinejs@3.10.5/dist/cdn.min.js"
    ></script>
  </head>
  <body
    x-data="{displayModalacc: false, displayModalJobCircular: false,}"
    @scroll.window="window.pageYOffset > 60 ? scrollFromTop = true : scrollFromTop = false"
    :class=" {'overflow-hidden' : topNavOpen, 
  'overflow-auto': !topNavOpen }"
  >
    <div id="root" class="antialiased">
      <div
        class="flex min-h-screen bg-background font-sans-serif"
        x-data="{panel:false,modal: false, sidebarOpen:true}"
      >
        <section id="left-panel h-full">
          {% include 'partials/dashboard/sidebar.html' %}
        </section>
        <section id="right-panel" class="flex min-h-screen flex-grow flex-col">
          <header id="header" class="h-20 w-full">
            {% include 'partials/dashboard/_header.html' %}
          </header>
          <section
            id="content"
            class="overflow-scroll scrollbar-thin scrollbar-track-gray-300 scrollbar-thumb-gray-700"
            style="height: calc(100vh - 144px)"
          >
          <div class="" style="height: calc(100vh - 258px)">
            {{ content | safe }}
            </div>
          </section>
          <section id="footer" class="mt-auto h-16 w-full">
            {% include 'partials/dashboard/_footer.html' %}
          </section>
        </section>
      </div>
      {% include 'partials/dashboard/modals/accounts.html' %} {% include
      'partials/dashboard/modals/add_job_circular.html' %}
    </div>

  </body>
</html>
