<section class="animate-fadeInUp text-onSurface">
  <div
    class="container mx-auto mb-20 px-6 text-left md:text-justify lg:text-justify"
  >
    <div class="">
      <div class="text-center">
        <ul
          class="grid h-full w-full grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3"
        >
          <li class="group animate-fadeInLeft">
            <a
              href=""
              class="flex h-full w-full flex-col items-center gap-4 rounded-sm bg-surface py-10 shadow-sm hover:shadow-md"
            >
              <div
                class="flex h-full w-full items-center justify-center group-hover:scale-110"
              >
                <img
                  class="h-36 w-36 rounded-full group-hover:border-4 group-hover:border-white group-hover:shadow-md"
                  src="/assets/images/board members/board_of_directors/Ms.-Papiya-Reberu.jpg"
                  alt=""
                />
              </div>
              <div class="">
                <h5 class="text-lg font-bold">Ms. Papiya Riberu</h5>
                <p class="">Director</p>
              </div>
            </a>
          </li>
          <li class="group">
            <a
              href=""
              class="flex h-full w-full flex-col items-center gap-4 rounded-sm bg-surface py-10 shadow-sm hover:shadow-md"
            >
              <div
                class="flex h-full w-full items-center justify-center group-hover:scale-110"
              >
                <img
                  class="h-36 w-36 rounded-full group-hover:border-4 group-hover:border-white group-hover:shadow-md"
                  src="/assets/images/board_of_directors/Ananda-Philip-Palma.jpg"
                  alt=""
                />
              </div>
              <div class="">
                <h5 class="text-lg font-bold">Mr. Ananda Philip Palma</h5>
                <p class="">Director</p>
              </div>
            </a>
          </li>
          <li class="group">
            <a
              href=""
              class="flex h-full w-full flex-col items-center gap-4 rounded-sm bg-surface py-10 shadow-sm hover:shadow-md"
            >
              <div
                class="flex h-full w-full items-center justify-center group-hover:scale-110"
              >
                <img
                  class="h-36 w-36 rounded-full group-hover:border-4 group-hover:border-white group-hover:shadow-md"
                  src="/assets/images/board_of_directors/Solomon-I.-Rozario.jpg"
                  alt=""
                />
              </div>
              <div class="">
                <h5 class="text-lg font-bold">Mr. Solomon I. Rozario</h5>
                <p class="">Director</p>
              </div>
            </a>
          </li>
          <li class="group">
            <a
              href=""
              class="flex h-full w-full flex-col items-center gap-4 rounded-sm bg-surface py-10 shadow-sm hover:shadow-md"
            >
              <div
                class="flex h-full w-full items-center justify-center group-hover:scale-110"
              >
                <img
                  class="h-36 w-36 rounded-full group-hover:border-4 group-hover:border-white group-hover:shadow-md"
                  src="/assets/images/board_of_directors/Protesh-Rangsa.jpg"
                  alt=""
                />
              </div>
              <div class="">
                <h5 class="text-lg font-bold">Mr. Prottesh Rangsa</h5>
                <p class="">Director</p>
              </div>
            </a>
          </li>
          <li class="group">
            <a
              href=""
              class="flex h-full w-full flex-col items-center gap-4 rounded-sm bg-surface py-10 shadow-sm hover:shadow-md"
            >
              <div
                class="flex h-full w-full items-center justify-center group-hover:scale-110"
              >
                <img
                  class="h-36 w-36 rounded-full group-hover:border-4 group-hover:border-white group-hover:shadow-md"
                  src="/assets/images/board_of_directors/Papri-Arengh.jpg"
                  alt=""
                />
              </div>
              <div class="">
                <h5 class="text-lg font-bold">Ms. Papri Patricia Areng</h5>
                <p class="">Director</p>
              </div>
            </a>
          </li>
          <li class="group">
            <a
              href=""
              class="flex h-full w-full flex-col items-center gap-4 rounded-sm bg-surface py-10 shadow-sm hover:shadow-md"
            >
              <div
                class="flex h-full w-full items-center justify-center group-hover:scale-110"
              >
                <img
                  class="h-36 w-36 rounded-full group-hover:border-4 group-hover:border-white group-hover:shadow-md"
                  src="/assets/images/board_of_directors/Monika-Gomes-Director.jpg"
                  alt=""
                />
              </div>
              <div class="">
                <h5 class="text-lg font-bold">Ms. Monica Gomes</h5>
                <p class="">Director</p>
              </div>
            </a>
          </li>
          <li class="group">
            <a
              href=""
              class="flex h-full w-full flex-col items-center gap-4 rounded-sm bg-surface py-10 shadow-sm hover:shadow-md"
            >
              <div
                class="flex h-full w-full items-center justify-center group-hover:scale-110"
              >
                <img
                  class="h-36 w-36 rounded-full group-hover:border-4 group-hover:border-white group-hover:shadow-md"
                  src="/assets/images/board_of_directors/Sajal-Joseph-Gomes.jpg"
                />
              </div>
              <div class="">
                <h5 class="text-lg font-bold">Mr. Sajal Joseph Gomes</h5>
                <p class="">Director</p>
              </div>
            </a>
          </li>
          <li class="group">
            <a
              href=""
              class="flex h-full w-full flex-col items-center gap-4 rounded-sm bg-surface py-10 shadow-sm hover:shadow-md"
            >
              <div
                class="flex h-full w-full items-center justify-center group-hover:scale-110"
              >
                <img
                  class="h-36 w-36 rounded-full group-hover:border-4 group-hover:border-white group-hover:shadow-md"
                  src="/assets/images/board_of_directors/Pollob-Linus-D-Rozario-Director.jpg"
                  alt=""
                />
              </div>
              <div class="">
                <h5 class="text-lg font-bold">Mr. Pallab Linus D’ Rozario</h5>
                <p class="">Director</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
