<section class="animate-fadeInUp text-onSurface">
  <div
    class="container mx-auto mb-20 px-6 text-left md:text-justify lg:text-justify"
  >
    <div class="">
      <div class="text-center">
        <ul
          class="grid h-full w-full grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3"
        >
          <li class="group">
            <a
              href=""
              class="flex h-full w-full flex-col items-center gap-4 rounded-sm bg-surface py-10 shadow-sm hover:shadow-md"
            >
              <div
                class="flex h-full w-full items-center justify-center group-hover:scale-110"
              >
                <img
                  class="h-36 w-36 rounded-full group-hover:border-4 group-hover:border-white group-hover:shadow-md"
                  src="/assets/images/credit_committe/Mr.-SUKUMAR-LENUS-CRUZE.jpg"
                  alt=""
                />
              </div>
              <div class="">
                <h5 class="text-lg font-bold">Mr. Sukumar Lenus Cruze</h5>
                <p class="">Chairman</p>
              </div>
            </a>
          </li>
          <li class="group">
            <a
              href=""
              class="flex h-full w-full flex-col items-center gap-4 rounded-sm bg-surface py-10 shadow-sm hover:shadow-md"
            >
              <div
                class="flex h-full w-full items-center justify-center group-hover:scale-110"
              >
                <img
                  class="h-36 w-36 rounded-full group-hover:border-4 group-hover:border-white group-hover:shadow-md"
                  src="/assets/images/credit_committe/Subrata-Richard-Rozario.jpg"
                  alt=""
                />
              </div>
              <div class="">
                <h5 class="text-lg font-bold">Mr. Subrata Richard Rozario</h5>
                <p class="">Secretary</p>
              </div>
            </a>
          </li>
          <li class="group">
            <a
              href=""
              class="flex h-full w-full flex-col items-center gap-4 rounded-sm bg-surface py-10 shadow-sm hover:shadow-md"
            >
              <div
                class="flex h-full w-full items-center justify-center group-hover:scale-110"
              >
                <img
                  class="h-36 w-36 rounded-full group-hover:border-4 group-hover:border-white group-hover:shadow-md"
                  src="/assets/images/credit_committe/Antor-Mankhin.jpg"
                  alt=""
                />
              </div>
              <div class="">
                <h5 class="text-lg font-bold">Mr. Antor Mankhin</h5>
                <p class="">Member</p>
              </div>
            </a>
          </li>
          <li class="group">
            <a
              href=""
              class="flex h-full w-full flex-col items-center gap-4 rounded-sm bg-surface py-10 shadow-sm hover:shadow-md"
            >
              <div
                class="flex h-full w-full items-center justify-center group-hover:scale-110"
              >
                <img
                  class="h-36 w-36 rounded-full group-hover:border-4 group-hover:border-white group-hover:shadow-md"
                  src="/assets/images/credit_committe/Lorance-Piter-Gomes.jpg"
                  alt=""
                />
              </div>
              <div class="">
                <h5 class="text-lg font-bold">Mr. Lawrence Peter Gomes</h5>
                <p class="">Member</p>
              </div>
            </a>
          </li>
          <li class="group">
            <a
              href=""
              class="flex h-full w-full flex-col items-center gap-4 rounded-sm bg-surface py-10 shadow-sm hover:shadow-md"
            >
              <div
                class="flex h-full w-full items-center justify-center group-hover:scale-110"
              >
                <img
                  class="h-36 w-36 rounded-full group-hover:border-4 group-hover:border-white group-hover:shadow-md"
                  src="/assets/images/credit_committe/Uma-Meghdeline-Gomes.jpg"
                  alt=""
                />
              </div>
              <div class="">
                <h5 class="text-lg font-bold">Ms. Uma Magdaline Gomes</h5>
                <p class="">Member</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
