<section class="animate-fadeInUp text-onSurface">
  <div
    class="container mx-auto mb-20 px-6 text-left md:text-justify lg:text-justify"
  >
    <div class="">
      <div class="text-center">
        <ul
          class="grid h-full w-full grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3"
        >
          <li class="group">
            <a
              href=""
              class="flex h-full w-full flex-col items-center gap-4 rounded-sm bg-surface py-10 shadow-sm hover:shadow-md"
            >
              <div
                class="flex h-full w-full items-center justify-center group-hover:scale-110"
              >
                <img
                  class="h-36 w-36 rounded-full group-hover:border-4 group-hover:border-white group-hover:shadow-md"
                  src="/assets/images/supervisory_committe/Mr._John_Gomes.jpg"
                  alt=""
                />
              </div>
              <div class="">
                <h5 class="text-lg font-bold">Mr. John Gomes</h5>
                <p class="">Chairman</p>
              </div>
            </a>
          </li>
          <li class="group">
            <a
              href=""
              class="flex h-full w-full flex-col items-center gap-4 rounded-sm bg-surface py-10 shadow-sm hover:shadow-md"
            >
              <div
                class="flex h-full w-full items-center justify-center group-hover:scale-110"
              >
                <img
                  class="h-36 w-36 rounded-full group-hover:border-4 group-hover:border-white group-hover:shadow-md"
                  src="/assets/images/supervisory_committe/Priyonto-C.-Costa-Secretary.jpg"
                  alt=""
                />
              </div>
              <div class="">
                <h5 class="text-lg font-bold">Mr. Prionto C. Costa</h5>
                <p class="">Secretary</p>
              </div>
            </a>
          </li>
          <li class="group">
            <a
              href=""
              class="flex h-full w-full flex-col items-center gap-4 rounded-sm bg-surface py-10 shadow-sm hover:shadow-md"
            >
              <div
                class="flex h-full w-full items-center justify-center group-hover:scale-110"
              >
                <img
                  class="h-36 w-36 rounded-full group-hover:border-4 group-hover:border-white group-hover:shadow-md"
                  src="/assets/images/supervisory_committe/Stalla-Hazra.jpg"
                  alt=""
                />
              </div>
              <div class="">
                <h5 class="text-lg font-bold">Ms. Stella Hazra</h5>
                <p class="">Member</p>
              </div>
            </a>
          </li>
          <li class="group">
            <a
              href=""
              class="flex h-full w-full flex-col items-center gap-4 rounded-sm bg-surface py-10 shadow-sm hover:shadow-md"
            >
              <div
                class="flex h-full w-full items-center justify-center group-hover:scale-110"
              >
                <img
                  class="h-36 w-36 rounded-full group-hover:border-4 group-hover:border-white group-hover:shadow-md"
                  src="/assets/images/supervisory_committe/Barnard-Pankaj-D-Rozario-Member.jpg"
                  alt=""
                />
              </div>
              <div class="">
                <h5 class="text-lg font-bold">Mr. Barnard Pankaj D’ Rozario</h5>
                <p class="">Member</p>
              </div>
            </a>
          </li>
          <li class="group">
            <a
              href=""
              class="flex h-full w-full flex-col items-center gap-4 rounded-sm bg-surface py-10 shadow-sm hover:shadow-md"
            >
              <div
                class="flex h-full w-full items-center justify-center group-hover:scale-110"
              >
                <img
                  class="h-36 w-36 rounded-full group-hover:border-4 group-hover:border-white group-hover:shadow-md"
                  src="/assets/images/supervisory_committe/Madhobi-Anita-Gomes.jpg"
                  alt=""
                />
              </div>
              <div class="">
                <h5 class="text-lg font-bold">Ms. Madhabi Anita Gomes</h5>
                <p class="">Member</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
