<section class="text-onSurface">
  <div class="container mx-auto animate-backInRight px-4 pb-20">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      <div class="w-full">
        <a
          href="/archives/services/single/atm/"
          class="flex h-full items-center overflow-hidden rounded-lg border border-gray-200 bg-surface p-4 hover:shadow-md"
        >
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full bg-gray-100 object-cover object-center"
            src="/assets/images/service/1.jpg"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium">24×7 ATM Service</h2>
            <p class="">State-of-the-art 24×7 ATM Services for its members.</p>
          </div>
        </a>
      </div>
      <!-- <div class="w-full">
        <a
          href="/archives/services/single/samabay-bazar/"
          class="flex h-full items-center overflow-hidden rounded-lg border border-gray-200 bg-surface p-4 hover:shadow-md"
        >
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full bg-gray-100 object-cover object-center"
            src="/assets/images/service/samabay.jpg"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium">Samabay Bazaar</h2>
            <p class="">
              Buy Daily essential High Quality Products with Competitive
              Pricing.
            </p>
          </div>
        </a>
      </div> -->
      <div class="w-full">
        <a
          href="/archives/services/single/beauty-parlor/"
          class="flex h-full items-center overflow-hidden rounded-lg border border-gray-200 bg-surface p-4 hover:shadow-md"
        >
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full bg-gray-100 object-cover object-center"
            src="/assets/images/service/beauty parlour.jpg"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium">Beauty Parlor</h2>
            <p class="">
              Various Housing Projects are built for the betterment of the
              members
            </p>
          </div>
        </a>
      </div>
      <div class="w-full">
        <a
          href="/archives/services/single/cultural-academy/"
          class="flex h-full items-center overflow-hidden rounded-lg border border-gray-200 bg-surface p-4 hover:shadow-md"
        >
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full bg-gray-100 object-cover object-center"
            src="/assets/images/service/cultural_academy.jpg"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium">Cultural Academy</h2>
            <p class="">
              D.C started its cultural academy for Cultural Development of
              Young.
            </p>
          </div>
        </a>
      </div>
      <div class="w-full">
        <a
          href="/archives/services/single/security/"
          class="flex h-full items-center overflow-hidden rounded-lg border border-gray-200 bg-surface p-4 hover:shadow-md"
        >
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full bg-gray-100 object-cover object-center"
            src="/assets/images/service/security_services.jpg"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium">Security Services</h2>
            <p class="">
              D.C Provides Security Services to all types of Companies.
            </p>
          </div>
        </a>
      </div>
      <div class="w-full">
        <a
          href="/archives/services/single/doctors/"
          class="flex h-full items-center overflow-hidden rounded-lg border border-gray-200 bg-surface p-4 hover:shadow-md"
        >
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full bg-gray-100 object-cover object-center"
            src="/assets/images/service/doctors_chamber.jpg"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium">Doctor’s Chamber</h2>
            <p class="">
              Expert Doctors are ready to take care of you & your family’s
              health.
            </p>
          </div>
        </a>
      </div>
      <div class="w-full">
        <a
          href="/archives/services/single/ambulance/"
          class="flex h-full items-center overflow-hidden rounded-lg border border-gray-200 bg-surface p-4 hover:shadow-md"
        >
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full bg-gray-100 object-cover object-center"
            src="/assets/images/service/ambulance.jpg"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium">Ambulance Service</h2>
            <p class="">Ambulance service for our members and their family</p>
          </div>
        </a>
      </div>
      <div class="w-full">
        <a
          href="/archives/services/single/gym/"
          class="flex h-full items-center overflow-hidden rounded-lg border border-gray-200 bg-surface p-4 hover:shadow-md"
        >
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full bg-gray-100 object-cover object-center"
            src="/assets/images/service/gym.JPG"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium">Gym</h2>
            <p class="">
              Well-equipped gym with flexible timing and various facilities.
            </p>
          </div>
        </a>
      </div>
      <div class="w-full">
        <a
          href="/archives/services/single/dc-tv/"
          class="flex h-full items-center overflow-hidden rounded-lg border border-gray-200 bg-surface p-4 hover:shadow-md"
        >
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full bg-gray-100 object-cover object-center"
            src="/assets/images/service/dc_tv.jpg"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium">D.C Online TV</h2>
            <p class="">Internet-based Online television Channel network.</p>
          </div>
        </a>
      </div>

      <div class="w-full">
        <a
          href="/archives/services/single/dc-news/"
          class="flex h-full items-center overflow-hidden rounded-lg border border-gray-200 bg-surface p-4 hover:shadow-md"
        >
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full bg-gray-100 object-cover object-center"
            src="/assets/images/service/dc_news.jpg"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium">D.C Online News</h2>
            <p class="">
              ‘dcnewsbd.com’ provides up-to-date information to its members.
            </p>
          </div>
        </a>
      </div>
      <div class="w-full">
        <a
          href="/archives/services/single/mms/"
          class="flex h-full items-center overflow-hidden rounded-lg border border-gray-200 bg-surface p-4 hover:shadow-md"
        >
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full bg-gray-100 object-cover object-center"
            src="/assets/images/service/mms.jpg"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium">D.C App M.M.S</h2>
            <p class="">New Dimension to the Digitization of Dhaka Credit.</p>
          </div>
        </a>
      </div>
      <div class="w-full">
        <a
          href="/archives/services/single/other/"
          class="flex h-full items-center overflow-hidden rounded-lg border border-gray-200 bg-surface p-4 hover:shadow-md"
        >
          <img
            alt="team"
            class="mr-4 h-16 w-16 flex-shrink-0 rounded-full bg-gray-100 object-cover object-center"
            src="/assets/images/service/others.jpg"
          />
          <div class="flex-grow">
            <h2 class="title-font font-medium">Other Services</h2>
            <p class="">Various other services that is being offered.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
