{% macro renderSelectInput( label="", required="", inputFor="" )%}
<div
  class="relative my-3 w-full text-onSurface"
  x-data="{ selected: false, options: ['Red', 'Orange', 'Yellow'] }"
>
  <select
    id="{{ inputFor }}"
    @change="selected = true"
    class="peer w-full rounded bg-surface transition-colors focus:border-primary"
  >
    <template x-for="option in options">
      <option value="option" x-text="option"></option>
    </template>
  </select>
  <label
    for="{{ inputFor }}"
    :class="selected ? '-top-2 text-xs text-primary' : ''"
    class="absolute left-0 top-3 mx-3 cursor-text bg-surface px-1 transition-all duration-200 peer-focus:-top-2 peer-focus:bg-surface peer-focus:text-xs peer-focus:text-primary"
  >
    {{ label }}<span class="font-medium text-error"> {{required}} </span>
  </label>
  <div class="">{{selected}}</div>
  <p class="mt-1 hidden text-xs text-error">Error text</p>
</div>
{% endmacro %}
